@use '../../utils/' as * ;

/*
 ::::::::::::::::::::::::::
  HEADER AREA CSS
 ::::::::::::::::::::::::::
 */

//=== header style 1 ===


.header-area.header-area2 {
    .main-menu-ex {
        ul#list-example {
            li {
                a.active {
                    color: #6A5CFF;
                }
            }
        }
    }
}


.header-area.header-area1 {
    .main-menu-ex {
        ul#list-example {
            li {
                a.active {
                    color: #6A5CFF;
                }
            }
        }
    }
}

.header-area.header-area3 {
    .main-menu-ex {
        ul#list-example {
            li {
                a.active {
                    color: #FF6A6A;
                }
            }
        }
    }
}

.header-area.header-area4 {
    .main-menu-ex {
        ul#list-example {
            li {
                a.active {
                    color: #4C5EEC;
                }
            }
        }
    }
}

.header-area.header-area5 {
    .main-menu-ex {
        ul#list-example {
            li {
                a.active {
                    color: #9205F6;
                }
            }
        }
    }
}

.header-area.header-area6 {
    .main-menu-ex {
        ul#list-example {
            li {
                a.active {
                    color: #000;
                }
            }
        }
    }
}


.header-area.header-area7 {
    .main-menu-ex {
        ul#list-example {
            li {
                a.active {
                    color: #000;
                }
            }
        }
    }
}

.header-area.header-area8 {
    .main-menu-ex {
        ul#list-example {
            li {
                a.active {
                    color: #C500F3;
                }
            }
        }
    }
}

.header-area.header-area9 {
    .main-menu-ex {
        ul#list-example {
            li {
                a.active {
                    color: #4C5EEC;
                }
            }
        }
    }
}



//=== header style 1 ===

/*
 ::::::::::::::::::::::::::
  HEADER AREA CSS
 ::::::::::::::::::::::::::
 */