@use '../../utils/' as * ;


// ==== contact page ====

.common-main-headding {
    h1 {
        font-size: var(--f-fs-font-fs76);
        line-height: var(--f-fs-font-fs88);
        color: var(--qt-text-h-text2);
        font-weight: var(--f-fw-semibold);

        @media #{$md} {
            font-size: var(--f-fs-font-fs40);
            line-height: var(--f-fs-font-fs52);
        }
        @media #{$xs} {
            font-size: var(--f-fs-font-fs40);
            line-height: var(--f-fs-font-fs52);
        }
    }

    p {
        font-size: var(--f-fs-font-fs20);
        color: var(--qt-text-p-text2);
        font-weight: var(--f-fw-regular);
        line-height: var(--f-fs-font-fs30);
        padding-top: 16px;
    }
}

.contact-page-area {

    margin-top: 100px;
    .contact-form-all {
        background-color: var(--qt-text-h-text1);
        padding: 48px;
        border-radius: 4px;

        .form-inputs {
            h5 {
                color: var(--qt-text-h-text3);
                font-size: var(--f-fs-font-fs24);
                font-weight: var(--f-fw-semibold);
                line-height: var(--f-fs-font-fs24);
            }
            p {
                color: #515456;
                font-size: var(--f-fs-font-fs18);
                font-weight: var(--f-fw-medium);
                line-height: var(--f-fs-font-fs30);
            }

            .input {
                input {
                    padding: 15px;
                    border-radius: 4px;
                    border: none;
                    background-color: #F5F8FF;
                    width: 100%;
                    margin-bottom: 20px;

                    &::placeholder {
                        color: #706F8A;
                        font-size: var(--f-fs-font-fs16);
                        font-weight: var(--f-fw-medium);
                        line-height: var(--f-fs-font-fs16);
                    }
                    &:focus {
                        outline: none;
                    }
                }

                textarea {
                    padding: 15px;
                    border-radius: 4px;
                    border: none;
                    background-color: #F5F8FF;
                    width: 100%;
                    margin-bottom: 20px;

                    &::placeholder {
                        color: #706F8A;
                        font-size: var(--f-fs-font-fs16);
                        font-weight: var(--f-fw-medium);
                        line-height: var(--f-fs-font-fs16);
                    }
                    &:focus {
                        outline: none;
                    }
                }
            }

            .button {
                text-align: right;
            }
        }

        .contact-page-boxs {
            .single-box {
                background-color: var(--qt-bg-bg-5);
                margin-left: 30px;
                border-radius: 4px;
                padding: 24px;
                display: flex;
                align-items: center;
                margin-bottom: 20px;

                @media #{$md} {
                    margin-left: 0;
                }
                @media #{$xs} {
                    margin-left: 0;
                    display: block;
                }

                .icon {
                    height: 50px;
                    width: 50px;
                    text-align: center;
                    line-height: 50px;
                    border-radius: 50%;
                    background-color: var(--qt-bg-bg-14);
                    margin-right: 20px;
                }

                .headding {
                    @media #{$xs} {
                        padding-top: 12px;
                    }
                    h5 {
                        color: var(--qt-text-h-text3);
                        font-size: var(--f-fs-font-fs20);
                        font-weight: var(--f-fw-semibold);
                        line-height: var(--f-fs-font-fs20);
                        padding-bottom: 10px;
                    }
                    a {
                        display: inline-block;
                        color: #515456;
                        font-size: var(--f-fs-font-fs18);
                        font-weight: var(--f-fw-medium);
                        line-height: var(--f-fs-font-fs30);
                        transition: all .4s;

                        &:hover {
                            color: var(--qt-bg-bg-7);
                        }
                    }
                }
            }
        }
    }

    .shape1 {
        position: absolute;
        top: -100px;
        right: 0;
        z-index: -1;
        opacity: 0.4;
    }

    .shape2 {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        opacity: 0.4;
    }

    .shape3 {
        position: absolute;
        bottom: -200px;
        right: 0;
        z-index: -1;
        opacity: 0.4;
    }


}

// ==== contact page ====