@use '../../utils/' as * ;

  /*
 ::::::::::::::::::::::::::
  FAQ AREA CSS
 ::::::::::::::::::::::::::
 */

 .faq5 {
    background: #fff;
    position: relative;

    .heading5 {
        p.title {
            background: linear-gradient(90deg, rgba(102, 47, 255, 0.10) -17.5%, rgba(234, 37, 245, 0.10) 100%);
        }
    }
    .accordion {
        margin-top: 20px;
        .accordion-item {
            margin-top: 16px;
            background: none;
            border: none;
            border: 1px solid #ECEBF0;
            border-radius: 7px;
            position: relative;
            z-index: 2;

            button {
                background: none;
                padding: 20px;
                color: var(--Main-Text, #110D39);
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 18px; /* 100% */

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }

            .accordion-body {
                color: var(--Main-Text, #110d39c0);
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 26px; /* 144.444% */
                padding: 0px 20px 20px 20px;
            }

            &.active {
                border-radius: 5px;
                border: 1px solid var(--Gradient, #662FFF);
                background: #FFF;

                button {
                    background: var(--Gradient, linear-gradient(90deg, #662FFF -17.5%, #EA25F5 100%));
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }

    .shape1 {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }

    .shape2 {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
 }


   // === faq sytle 6 ===

   .faq6 {
    position: relative;
    .accordion {
      .accordion-item {
        border: 2px solid #E6E6E9;
        border-radius: 14px;
        background: none;
        margin-top: 30px;
        transition: all .4s;
        
        button {
          border: none;
          background: none;
          padding: 40px;
          color: #000;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: 32px; /* 100% */
          text-transform: capitalize;
          position: relative;

          @media #{$xs} {
            font-size: 20px;
            line-height: 26px;
            padding: 20px;
          }

          &:focus {
            outline: none;
            box-shadow: none;
          }

          &::before {
            content: "";
            position: absolute;
            right: 26px;
            top: 32px;
            height: 48px;
            width: 48px;
            border-radius: 50%;
            z-index: 1;
            background: var(--Home-Page-1-Color-Gredient-1, linear-gradient(90deg, #49D2FD 0%, #8F00FF 100%));

            @media #{$xs} {
              display: none;
            }
          }
          &::after {
            filter: brightness(0) invert(1);
            z-index: 3;
          }
        }

        .accordion-body {
            color: #ffffffe8;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px; /* 155.556% */
            padding-left: 42px;
            margin-top: -20px;
            padding-bottom: 44px;
            padding-right: 80px;
            text-align: start;

            @media #{$xs} {
              padding-right: 20px;
              padding-bottom: 20px;
              padding-left: 20px;
            }
        }

        &.active {
          transition: all .4s;
          border-radius: 14px;
          background: var(--Home-Page-1-Color-Gredient-1, linear-gradient(90deg, #49D2FD 0%, #8F00FF 100%));

          button {
            color: #fff;
            &::before {
              content: "";
              position: absolute;
              right: 26px;
              top: 32px;
              height: 48px;
              width: 48px;
              border-radius: 50%;
              z-index: 1;
              background: #fff;
            }

            &::after {
              filter: brightness(0);
            }
          }
        }
      }
    }

    .accordion-button:not(.collapsed) {
      color: var(--bs-accordion-active-color);
      background-color: var(--bs-accordion-active-bg);
      box-shadow: none;
  }

  .sec-shape1 {
    position: absolute;
    top: -100px;
    left: 0;
    z-index: -3;

    @media #{$md} {
      display: none;
  }
  @media #{$xs} {
    display: none;
}
  }

  .sec-shape2 {
    position: absolute;
    top: -100px;
    right: 0;
    z-index: -3;
    @media #{$md} {
      display: none;
  }
    @media #{$xs} {
        display: none;
    }
  }

  .sec-shape3 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -3;
    @media #{$md} {
      display: none;
  }
  @media #{$xs} {
    display: none;
}
  }

  .sec-shape4 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -3;
  }

  .sec-shape5 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
  }

  .sec-shape6 {
    position: absolute;
    bottom: 200px;
    left: 0;
    z-index: -3;
    transform: rotateX(180deg) rotateY(180deg);

    @media #{$md} {
      display: none;
  }

  @media #{$xs} {
    display: none;
}
  }

  }

  // === faq sytle 6 ===

   /*
 ::::::::::::::::::::::::::
  FAQ AREA CSS
 ::::::::::::::::::::::::::
 */