@use '../../utils/' as * ;

  /*
 ::::::::::::::::::::::::::
  FEATURES AREA CSS
 ::::::::::::::::::::::::::
 */

//=== features style 1 start ===

.features {
    .features-item-box {
        
        padding: 20px;
        position: relative;
        z-index: 99;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            border-radius: 4px;
            border: 1px solid rgba(255, 255, 255, 0.20);
            background: linear-gradient(99deg, #FFF -1001.54%, rgba(255, 255, 255, 0.00) 127.88%);
            backdrop-filter: blur(102px);
            z-index: -2;
        }
        
        

        .features-box {
            background-color: var(--qt-bg-bg-3);
            padding: 40px;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 300px;
                width: 400px;
                background-color: var(--qt-bg-bg-2);
                z-index: -99;
                transition: all .4s;
                -webkit-animation-name: animation2;
            animation-name: animation2;
            -webkit-animation-duration: 6s;
            animation-duration: 6s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            opacity: 0;
            }

            .tab-list {
                list-style: none;
                li {
                    color: var(--qt-bg-bg-w);
                    font-size: var(--f-fs-font-fs18);
                    font-style: normal;
                    font-weight: var(--f-fw-medium);
                    line-height: var(--f-fs-font-fs18);
                    padding: 6px 0px;
                    span {
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        display: inline-block;
                        background-color: var(--qt-bg-bg-10);
                        text-align: center;
                        line-height: 24px;
                        color: var(--qt-bg-bg-w);
                        margin-right: 6px;
                    }
                }
            }

            .bottom-headding-area {
                display: flex;
                align-items: center;

                .image {
                    margin-right: 20px;
                }
                .stars {
                    list-style: none;
                    li {
                        color: var(--qt-bg-bg-11);
                        display: inline-block;
                    }
                }
                p.pera {
                    padding-top: 5px;
                }
            }

            .features-sidebox-area {
                .btn.btn--ripple {
                    width: 100%;
                    margin-top: 24px;
                }
            }

            .features-sidebox {
                background-color: var(--qt-bg-bg-4);
                padding: 20px;
                border-radius: 4px;

                @media #{$md} {
                    margin-top: 40px;
                }
                @media #{$xs} {
                    margin-top: 40px;
                }
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    li {
                        padding-bottom: 16px;
                        padding-top: 16px;
                        color: #FFF;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 16px; 
                        border-bottom: 1px solid #4B5070;

                        img {
                            margin-right: 8px;
                        }

                        &:nth-last-child(1) {
                            border: none;
                            padding-bottom: 0;
                        }

                        &:nth-child(1) {
                            padding-top: 0px;
                        }
                    }
                }
            }
        }
    }

    // == nav bar ===

    .nav.nav-pills {
        background-color: var(--qt-bg-bg-4);
        padding: 0 24px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media #{$md} {
            display: block;
        }

        @media #{$xs} {
            display: block;
        }

        li {
            button {
                padding: 14px 16px;
                border-radius: 4px;
                background-color: var(--qt-bg-bg-1);
                margin: 16px 0px;
                color: var(--qt-text-h-text1);
                font-size: var(--f-fs-font-fs16);
                font-style: normal;
                font-weight: var(--f-fw-medium);
                line-height: 16px;

                @media #{$md} {
                    margin: 16px 16px;
                }
                @media #{$xs} {
                    margin: 16px 16px;
                }
            }
            button.active {
                border-radius: 4px;
                background: var(--Project-Management-Color-Linner-Color, linear-gradient(95deg, #603BF3 0.75%, #8F00FF 101.34%));
            }

            @media #{$md} {
                display: inline-block;
            }
            @media #{$xs} {
                display: inline-block;
            }

        }
    }

    .shape1 {
        position: absolute;
        top: -40px;
        left: 0;
        z-index: -2;
    }
    .shape2 {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -2;
    }
}

.tab-pane.fade {
    transform: rotateX(30deg) translateY(50px);
    opacity: 0;
}

.tab-pane.show.active {
    transform: rotateX(0) translateY(0);
    transition: all .5s;
    opacity: 1;

    .features-item-box {
        .features-box {
            &::before {
                opacity: 1;
                transition: all .4s;
            }
        }
    }
}

.features-left {
    padding-left: 60px;

    @media #{$md} {
        padding-left: 0;
    }
    
    @media #{$xs} {
        padding-left: 0;
    }
}

.features-right {
    padding-right: 60px;

    @media #{$md} {
        padding-right: 0;
    }
    @media #{$xs} {
        padding-right: 0;
    }
}

.feratures-page-area {
    .image {
        img {
            width: 100%;
        }
    }
}

//=== features style 1 end ===

  /*
 ::::::::::::::::::::::::::
  FEATURES AREA CSS
 ::::::::::::::::::::::::::
 */