@forward 'about';
@forward 'hero';
@forward 'work';
@forward 'cta';
@forward 'brands';
@forward 'testimonial';
@forward 'team';
@forward 'faq';
@forward 'pricing';
@forward 'contact';
@forward 'account';
@forward 'others';
@forward 'service';
@forward 'preloader';
@forward 'choose';
@forward 'features';