<!--===== CTA AREA END =======-->
<div class="cta2-area"
     style="background-image: url(/static/img/bg/cta2-bg.png); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto text-center">
                <div class="headding2-w">
                    <h2>Join 500,000+ SEO's who trust eSoft for insights that help their business grow.</h2>
                    <div class="space16"></div>
                    <p>eSoft has exceeded our expectations in every way. The ease with & which we can target specific
                        audience
                        segments has an transform.</p>
                    <div class="space30"></div>
                    <div class="">
                        <a href="/account" class="theme-btn3">Get Started
                            For
                            Free</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--===== CTA AREA END =======-->

<!--===== CTA IMAGE AREA START =======-->

<div class="cta2-main-image">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cta2-images">
                    <div class="img1">
                        <img src="{{ config.ASSETS_ROOT }}/img/others/cta2-main-img.png" alt="">
                    </div>
                    <div class="shape1">
                        <img src="{{ config.ASSETS_ROOT }}/img/shapes/cta2-shape2.png" alt="">
                    </div>
                    <div class="shape2">
                        <img src="{{ config.ASSETS_ROOT }}/img/shapes/cta2-shape1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--===== CTA IMAGE AREA END =======-->
