<!--=====JS=======-->

<script src="{{ config.ASSETS_ROOT }}/js/bootstrap.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/aos.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/fontawesome.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/jquery.countup.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/mobile-menu.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/jquery.magnific-popup.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/owl.carousel.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/slick-slider.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/gsap.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/ScrollTrigger.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/Splitetext.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/text-animation.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/SmoothScroll.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/tilt.jquery.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/main.js"></script>
