
<!--===== FOOTER AREA START =======-->

<div class="footer2 _relative">
  <div class="container">
    <div class="rwo">
      <div class="footer-icon-box-all">
        <div class="footer-icon-box">
          <div class="icon">
            <img src="{{ config.ASSETS_ROOT }}/img/icons/footer-icon1.png" alt="">
          </div>
          <div class="headding">
            <p>Free training & 24-hours</p>
          </div>
        </div>

        <div class="footer-icon-box">
          <div class="icon">
            <img src="{{ config.ASSETS_ROOT }}/img/icons/footer-icon2.png" alt="">
          </div>
          <div class="headding">
            <p>Serious about security & privacy</p>
          </div>
        </div>

        <div class="footer-icon-box">
          <div class="icon">
            <img src="{{ config.ASSETS_ROOT }}/img/icons/footer-icon3.png" alt="">
          </div>
          <div class="headding">
            <p>Highest levels of uptime the last 12 months</p>
          </div>
        </div>

      </div>
    </div>

    <div class="space50"></div>
    <div class="row">

      <div class="col-lg col-md-6 col-12">
        <div class="single-footer-items">
          <h3>Product</h3>

          <ul class="menu-list">
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Integration</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Soluciones</a></li>
            <li><a href="#">Changelog</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg col-md-6 col-12">
        <div class="single-footer-items">
          <h3>Support</h3>

          <ul class="menu-list">
            <li><a href="#">On-boarding</a></li>
            <li><a href="#">Help center</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Experts</a></li>
            <li><a href="#">Status</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg col-md-6 col-12">
        <div class="single-footer-items">
          <h3>Resources</h3>

          <ul class="menu-list">
            <li><a href="#">Community</a></li>
            <li><a href="#">Affiliates</a></li>
            <li><a href="#">Partnerships</a></li>
            <li><a href="#">Perks & Benefits</a></li>
            <li><a href="#">Api docs</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg col-md-6 col-12">
        <div class="single-footer-items">
          <h3>Company</h3>

          <ul class="menu-list">
            <li><a href="#">About</a></li>
            <li><a href="#">Our blog</a></li>
            <li><a href="#">In the press</a></li>
            <li><a href="#">Brand assets</a></li>
            <li><a href="#">Work with us</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg col-md-6 col-12">
        <div class="single-footer-items">
          <h3>Download</h3>

          <ul class="menu-list">
            <li><a href="#">iPhone & iPad</a></li>
            <li><a href="#">Android</a></li>
            <li><a href="#">MacOS</a></li>
            <li><a href="#">Window</a></li>
          </ul>
        </div>
      </div>


      <div class="col-lg-3 col-md-6 col-12">
        <div class="single-footer-items">
          <h3>Social Links</h3>

          <ul class="social-icons">
            <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          </ul>

        </div>
      </div>

    </div>

    <div class="space40"></div>

    <div class="copyright-area">
      <div class="row align-items-center">
        <div class="col-md-5">
          <div class="logo">
            <a href="/"><img
              src="{{ config.ASSETS_ROOT }}/img/logo/svgMAIN-intelalogo.svg" alt="" width="119" height="44"></a>
          </div>
        </div>
        <div class="col-md-7">
          <div class="coppyright text-right">
            <a href="#">@2024 Arsys Intela</a>
            <a href="#">Security</a>
            <a href="#">Your Privacy</a>
            <a href="#">Terms</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <img class="footer-shape" src="{{ config.ASSETS_ROOT }}/img/shapes/footer2-shape.png" alt="">
  <img class="footer-shape2" src="{{ config.ASSETS_ROOT }}/img/shapes/footer2-shape2.png" alt="">
</div>

<!--===== FOOTER AREA END =======-->
