
<!--===== FOOTER AREA START =======-->

<div class="footer2 _relative">
  <div class="container">
    <div class="rwo">
      <div class="footer-icon-box-all">
        <div class="footer-icon-box">
          <div class="icon">
            <i class="fas fa-shield-alt" style="font-size: 40px; color: var(--qt-text-h-text2);"></i>
          </div>
          <div class="headding">
            <p>Soberanía de datos con infraestructura en Europa, USA y Venezuela</p>
          </div>
        </div>

        <div class="footer-icon-box">
          <div class="icon">
            <i class="fas fa-headset" style="font-size: 40px; color: var(--qt-text-h-text2);"></i>
          </div>
          <div class="headding">
            <p>Soporte técnico especializado 24/7 para todos nuestros servicios</p>
          </div>
        </div>

        <div class="footer-icon-box">
          <div class="icon">
            <i class="fas fa-tachometer-alt" style="font-size: 40px; color: var(--qt-text-h-text2);"></i>
          </div>
          <div class="headding">
            <p>Alta disponibilidad y resiliencia garantizada en toda nuestra infraestructura</p>
          </div>
        </div>

      </div>
    </div>

    <div class="space50"></div>
    <div class="row">

      <div class="col-lg col-md-6 col-12">
        <div class="single-footer-items">
          <h3>Productos</h3>

          <ul class="menu-list">
            <li><a href="/solutions/assistant360">Assistant360</a></li>
            <li><a href="/solutions/condominio360">Condominio360</a></li>
            <li><a href="/solutions/intela-grid">Intela Grid</a></li>
            <li><a href="/solutions/intela-smart">Intela Smart</a></li>
            <li><a href="/consultoria">Consultoría Tecnológica</a></li>
            <li><a href="/solutions/serviexpress">ServiExpress (Aliado)</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg col-md-6 col-12">
        <div class="single-footer-items">
          <h3>Soporte</h3>

          <ul class="menu-list">
            <li><a href="#">{# /helpdesk #}Help Desk</a></li>
            <li><a href="#">{# /status #}Estado de Servicios</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg col-md-6 col-12">
        <div class="single-footer-items">
          <h3>Somos Arsys</h3>

          <ul class="menu-list">
            <li><a href="/about">Sobre Nosotros</a></li>
            <li><a href="/blog">Nuestro Blog</a></li>
            <li><a href="/portal-clientes">{# /login #}Portal de Clientes</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-12">
        <div class="single-footer-items">
          <h3>Redes Sociales</h3>

          <ul class="social-icons">
            <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          </ul>

        </div>
      </div>

    </div>

    <div class="space40"></div>

    <div class="copyright-area">
      <div class="row align-items-center">
        <div class="col-md-5">
          <div class="logo">
            <a href="/"><img
              src="{{ config.ASSETS_ROOT }}/img/logo/svgMAIN-intelalogo.svg" alt="" width="119" height="44"></a>
          </div>
        </div>
        <div class="col-md-7">
          <div class="coppyright text-right">
            <p style="margin: 0; color: inherit;">
              ©2022 Arsys Technology 1122 C.A - RIF J-502314547 |
              <a href="/privacidad">Política de Privacidad</a> |
              <a href="/terminos">Términos & Condiciones</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <img class="footer-shape" src="{{ config.ASSETS_ROOT }}/img/shapes/footer2-shape.png" alt="">
  <img class="footer-shape2" src="{{ config.ASSETS_ROOT }}/img/shapes/footer2-shape2.png" alt="">
</div>

<!--===== FOOTER AREA END =======-->
