<!--=====CSS=======-->
<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/fontawesome.css">
<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/magnific-popup.css">
<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/nice-select.css">
<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/slick-slider.css">
<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/owl.carousel.min.css">
<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/aos.css">
<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/mobile-menu.css">
<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/main.css">

<!--=====JQUERY=======-->
<script src="{{ config.ASSETS_ROOT }}/js/jquery-3-7-1.min.js"></script>
