
<!--=====Mobile header start=======-->
<div class="mobile-header d-block d-lg-none ">
  <div class="container-fluid">
    <div class="col-12">
      <div class="mobile-header-elements">
        <div class="mobile-logo">
          <a href="/index1"><img
            src="{{ config.ASSETS_ROOT }}/img/logo/header-logo2.png" alt=""></a>
        </div>
        <div class="mobile-nav-icon">
          <i class="fa-duotone fa-bars-staggered"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mobile-sidebar d-block d-lg-none">
  <div class="logo-m">
    <a href="/index"><img src="{{ config.ASSETS_ROOT }}/img/logo/header-logo1.png"
                                                                         alt=""></a>
  </div>
  <div class="menu-close">
    <i class="fa-solid fa-xmark"></i>
  </div>
  <div class="mobile-nav">

    <ul>

      <li class="has-dropdown"><a href="#">Home </a>
        <ul class="sub-menu">
          <li class="has-dropdown has-dropdown1"><a href="/index4">Multipage</a>
            <ul class="sub-menu">
              <li><a href="/index">Home 1</a></li>
              <li><a href="/index2">Home 2</a></li>
              <li><a href="/index3">Home 3</a></li>
              <li><a href="/index4">Home 4</a></li>
              <li><a href="/index5">Home 5</a></li>
              <li><a href="/index6">Home 6</a></li>
              <li><a href="/index7">Home 7</a></li>
              <li><a href="/index8">Home 8</a></li>
              <li><a href="/index9">Home 9</a></li>
              <li><a href="/rtl">RTL</a></li>
            </ul>
          </li>
          <li class="has-dropdown has-dropdown1"><a href="/index4">Landing
            Page</a>
            <ul class="sub-menu">
              <li><a href="/single-index1">Home 1</a></li>
              <li><a href="/single-index2">Home 2</a></li>
              <li><a href="/single-index3">Home 3</a></li>
              <li><a href="/single-index4">Home 4 </a></li>
              <li><a href="/single-index5">Home 5 </a></li>
              <li><a href="/single-index6">Home 6 </a></li>
              <li><a href="/single-index7">Home 7 </a></li>
              <li><a href="/single-index8">Home 8 </a></li>
              <li><a href="/single-index9">Home 9 </a></li>
              <li><a href="/single-rtl">RTL </a></li>
            </ul>
          </li>
        </ul>
      </li>

      <li><a href="/about">About Us</a></li>
      <li class="has-dropdown"><a href="#">Pages</a>
        <ul class="sub-menu">
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="/features">Features</a></li>
          <li><a href="/testimonial">Testimonial</a></li>
          <li><a href="/pricing">Pricing</a></li>
          <li><a href="/download">Download</a></li>
          <li><a href="/error">404</a></li>

        </ul>
      </li>

      <li class="has-dropdown"><a href="#">Blog</a>
        <ul class="sub-menu">
          <li><a href="/blog">Blog</a></li>
          <li><a href="/blog-details-sidebar-left">Details Left</a></li>
          <li><a href="/blog-details-sidebar-right">Details Right</a>
          </li>
          <li><a href="/blog-details">Blog Details</a></li>
        </ul>
      </li>

      <li class="has-dropdown"><a href="#">Account</a>
        <ul class="sub-menu">
          <li><a href="/account">Create Account</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/forgot">Forgot</a></li>
          <li><a href="/reset">Reset</a></li>
          <li><a href="/verify">Verify Email</a></li>
          <li><a href="/form-success">Success</a></li>
        </ul>
      </li>

    </ul>
    <a href="/account" class="theme-btn3">Sign Up For Free</a>

    <div class="contact-infos">
      <h3>Contact Info</h3>
      <div class="box">
        <div class="icon">
          <span><i class="fa-regular fa-phone"></i></span>
        </div>
        <div class="pera">
          <a href="tel:921-888-0022">921-888-0022</a>
        </div>
      </div>
      <div class="box">
        <div class="icon">
          <span><i class="fa-regular fa-envelope"></i></span>
        </div>
        <div class="pera">
          <a href="mailto:example@visafast.com">example@visafast.com</a>
        </div>
      </div>
    </div>
    <div class="contact-infos">
      <h3>Our Location</h3>
      <div class="box">
        <div class="icon">
          <span><i class="fa-regular fa-location-dot"></i></span>
        </div>
        <div class="pera">
          <a href="#">55 East Birchwood Ave.Brooklyn, <br>
            New York 11201,United States</a>
        </div>
      </div>
    </div>

    <div class="contact-infos">
      <h3>Our Location</h3>
      <ul class="icon-list">
        <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
      </ul>
    </div>

  </div>
</div>

<!--=====Mobile header end=======-->
