
<!--=====Mobile header start=======-->
<div class="mobile-header d-block d-lg-none ">
  <div class="container-fluid">
    <div class="col-12">
      <div class="mobile-header-elements">
        <div class="mobile-logo">
          <a href="/"><img
            src="{{ config.ASSETS_ROOT }}/img/logo/svgMAIN-intelalogo.svg" alt="" width="119" height="44"></a>
        </div>
        <div class="mobile-nav-icon">
          <i class="fa-duotone fa-bars-staggered"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mobile-sidebar d-block d-lg-none">
  <div class="logo-m">
    <a href="/"><img src="{{ config.ASSETS_ROOT }}/img/logo/svgMAIN-intelalogo.svg" alt="" width="119" height="44"></a>
  </div>
  <div class="menu-close">
    <i class="fa-solid fa-xmark"></i>
  </div>
  <div class="mobile-nav">

    <ul>

      <li><a href="/">Inicio</a></li>

      <li><a href="/about">Nosotros</a></li>

      <li class="has-dropdown"><a href="/solutions">Soluciones 360</a>
        <ul class="sub-menu">
          <li><a href="/solutions/assistant360">Assistant360 (IA para atención)</a></li>
          <li><a href="/solutions/condominio360">Condominio360 (Gestión inmobiliaria)</a></li>
          <li><a href="/solutions/serviexpress">ServiExpress (Gestión de servicios)</a></li>
        </ul>
      </li>

      <li class="has-dropdown"><a href="#">Infraestructura e IA</a>
        <ul class="sub-menu">
          <li><a href="/solutions/intela-grid">Intela Grid (Nube Privada / On-Premise)</a></li>
          <li><a href="/solutions/intela-smart">Intela Smart (Domótica y Automatización)</a></li>
          <li><a href="/consultoria">Consultoría Tecnológica</a></li>
        </ul>
      </li>

      <li><a href="/blog">Blog</a></li>

    </ul>
    <a href="/contact" class="theme-btn3">Agendar Cita</a>

    <div class="contact-infos">
      <h3>Contact Info</h3>
      <div class="box">
        <div class="icon">
          <span><i class="fa-regular fa-phone"></i></span>
        </div>
        <div class="pera">
          <a href="tel:921-888-0022">921-888-0022</a>
        </div>
      </div>
      <div class="box">
        <div class="icon">
          <span><i class="fa-regular fa-envelope"></i></span>
        </div>
        <div class="pera">
          <a href="mailto:example@visafast.com">example@visafast.com</a>
        </div>
      </div>
    </div>
    <div class="contact-infos">
      <h3>Our Location</h3>
      <div class="box">
        <div class="icon">
          <span><i class="fa-regular fa-location-dot"></i></span>
        </div>
        <div class="pera">
          <a href="#">55 East Birchwood Ave.Brooklyn, <br>
            New York 11201,United States</a>
        </div>
      </div>
    </div>

    <div class="contact-infos">
      <h3>Our Location</h3>
      <ul class="icon-list">
        <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
      </ul>
    </div>

  </div>
</div>

<!--=====Mobile header end=======-->
