
<!--=====HEADER START=======-->
<header>
  <div class="header-area header-area2 header-area-all d-none d-lg-block" id="header">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="header-elements">
            <div class="site-logo home1-site-logo">
              <a href="/"
              ><img src="{{ config.ASSETS_ROOT }}/img/logo/svgMAIN-intelalogo.svg" alt="" width="119" height="44">
              </a>
            </div>

            <div class="main-menu-ex main-menu-ex1">
              <ul>

                <li><a href="/">Inicio</a></li>

                <li><a href="/about">Nosotros</a></li>

                <li class="dropdown-menu-parrent"><a href="#">Soluciones 360 <i class="fa-solid fa-angle-down"></i></a>
                  <ul>
                    <li><a href="/solutions/assistant360">Assistant360 (IA para atención)</a></li>
                    <li><a href="/solutions/condominio360">Condominio360 (Gestión inmobiliaria)</a></li>
                    <li><a href="/solutions/serviexpress">ServiExpress (Gestión de servicios)</a></li>
                  </ul>
                </li>

                <li class="dropdown-menu-parrent"><a href="#">Infraestructura e IA <i class="fa-solid fa-angle-down"></i></a>
                  <ul>
                    <li><a href="/solutions/intela-grid">Intela Grid (Nube Privada / On-Premise)</a></li>
                    <li><a href="/solutions/intela-smart">Intela Smart (Domótica y Automatización)</a></li>
                    <li><a href="/contact">Consultoría Tecnológica</a></li>
                  </ul>
                </li>

                <li><a href="/blog">Blog</a></li>

              </ul>
            </div>

            <div class="header2-buttons">
              <a href="/login" class="login-btn">Portal Clientes</a>
              <a href="/contact" class="theme-btn2">Agendar Cita</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--=====HEADER END=======-->

