<meta charset="UTF-8"/>
<meta name="viewport" content="width=`device-width`, initial-scale=1.0"/>
<meta http-equiv="X-UA-Compatible" content="ie=edge"/>

<!--=====TITLE=======-->
<title>{% block title %}{% endblock title %}</title>
<!--=====FAV ICON=======-->
<link rel="apple-touch-icon" sizes="180x180" href="{{ config.ASSETS_ROOT }}/favicon_io/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ config.ASSETS_ROOT }}/favicon_io/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ config.ASSETS_ROOT }}/favicon_io/favicon-16x16.png">
<link rel="manifest" href="{{ config.ASSETS_ROOT }}/favicon_io/site.webmanifest">
<link rel="shortcut icon" href="{{ config.ASSETS_ROOT }}/favicon_io/favicon.ico" type="image/x-icon">
