{% extends 'layouts/landing-layout.html' %}

{% block title %}About Us{% endblock title %}

{% block icon %}
<link rel="shortcut icon" href="{{ config.ASSETS_ROOT }}/img/logo/titel1.png" type="image/x-icon">
{% endblock icon %}

{% block body_attribute %}class="body2 body"{% endblock body_attribute %}

{% block page_content %}

<!--===== HERO AREA START =======-->
<div class="pages-hero">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="main-headding">
          <h1>About App</h1>
          <p>Revolutionise & email marketing strategy with cutting-edge <br> software designed to elevate your
            campaigns, our intuitive.</p>

          <div class="space30"></div>
          <div class="hero-btns">
            <a href="/account" class="theme-btn2">Get Started Now</a>
            <a href="/account" class="theme-btn3">Try For Free Now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="hero-image shape-animaiton3">
          <img src="{{ config.ASSETS_ROOT }}/img/about/about-main-img.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <img class="hero-shape1" src="{{ config.ASSETS_ROOT }}/img/shapes/common-hero-shape1.png" alt="">
  <img class="hero-shape2" src="{{ config.ASSETS_ROOT }}/img/shapes/common-hero-shape2.png" alt="">
</div>
<!--===== HERO AREA END =======-->

<!--===== ABOUT BOXS START =======-->
<div class="about-boxs">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-box">
          <div class="icon">
            <img src="{{ config.ASSETS_ROOT }}/img/icons/about-page-box1.png" alt="">
          </div>
          <div class="headding2">
            <h2>5K+</h2>
            <p>Total App Users</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-box">
          <div class="icon">
            <img src="{{ config.ASSETS_ROOT }}/img/icons/about-page-box2.png" alt="">
          </div>
          <div class="headding2">
            <h2>4.5K+</h2>
            <p>Satisfied Client</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-box">
          <div class="icon">
            <img src="{{ config.ASSETS_ROOT }}/img/icons/about-page-box3.png" alt="">
          </div>
          <div class="headding2">
            <h2>4K+</h2>
            <p>Our Verified Client</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!--===== ABOUT BOXS END =======-->

<!--===== ABOUT PAGE AREA START =======-->
<div class="about-page-area1 sp">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="about-img">
          <img src="{{ config.ASSETS_ROOT }}/img/about/about-page-img1.png" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="headding2">
          <h2>Elevate Engagement: Introducing Of eSoft.</h2>
          <div class="space16"></div>
          <p>Revolutionise your approach to email marketing with eSoft. As pioneers the industry, we bring you a eSoft.
            comprehensive solution that no only simplifies but an transforms best option elevate and engagement.</p>

          <ul class="list">
            <li><span><i class="fa-solid fa-check"></i></span> Increased Organic Traffic</li>
            <li><span><i class="fa-solid fa-check"></i></span> Regular Performance Monitoring</li>
            <li><span><i class="fa-solid fa-check"></i></span> Improved Search Engine Rankings</li>
          </ul>
          <div class="space30"></div>
          <a href="/account" class="theme-btn2">Get Started Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--===== ABOUT PAGE ATEA END =======-->

<!--===== ABOUT PAGE ATEA start =======-->
<div class="about-page-area2 _relative">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 m-auto text-center">
        <div class="headding2">
          <h2>Email Excellence Starts Here</h2>
          <div class="space16"></div>
          <p>Revolutionise your approach to email marketing with eSoft. As pioneers the industry, we bring you a eSoft
            comprehensive solution that only.</p>
        </div>
      </div>
    </div>

    <div class="space30"></div>
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="space30"></div>
        <div class="left-image">
          <img src="{{ config.ASSETS_ROOT }}/img/about/about-page-img2.png" alt="">
        </div>
      </div>


      <div class="col-lg-5">
        <div class="about-page-boxs">
          <div class="single-box">
            <div class="icon">
              <img src="{{ config.ASSETS_ROOT }}/img/icons/about-page-sec-icon1.png" alt="">
            </div>
            <div class="space20"></div>
            <div class="headding2">
              <h4><a href="/features">Comprehensive Analytics:</a></h4>
              <div class="space10"></div>
              <p>Gain valuable insights into your email performance. eSoft offers robust analytics and reporting
                tools</p>
            </div>
          </div>

          <div class="single-box">
            <div class="icon">
              <img src="{{ config.ASSETS_ROOT }}/img/icons/about-page-sec-icon2.png" alt="">
            </div>
            <div class="space20"></div>
            <div class="headding2">
              <h4><a href="/features">Effortless Automation:</a></h4>
              <div class="space10"></div>
              <p>Gain valuable insights into your email performance. eSoft offers robust analytics and reporting
                tools</p>
            </div>
          </div>

          <div class="single-box">
            <div class="icon">
              <img src="{{ config.ASSETS_ROOT }}/img/icons/about-page-sec-icon3.png" alt="">
            </div>
            <div class="space20"></div>
            <div class="headding2">
              <h4><a href="/features">Personalised Targeting:</a></h4>
              <div class="space10"></div>
              <p>Gain valuable insights into your email performance. eSoft offers robust analytics and reporting
                tools</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <img class="about-shape2" src="{{ config.ASSETS_ROOT }}/img/shapes/common-hero-shape2.png" alt="">
</div>
<!--===== ABOUT PAGE ATEA END =======-->

<!--===== EMAIL INNOVATION START =======-->
<div class="email-innovation"
     style="background-image: url(/static/img/bg/others2-bg.png); background-position: center center; background-repeat: no-repeat; background-size: cover;">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="headding2-w">
          <h2>Email innovation: Craft marketing an success</h2>
          <div class="space16"></div>
          <p>Email marketing journey transforms into a streamlined, an powerful experience. Our cutting-edge platform
            eeSofts you with the tools to craft compelling, personalized</p>

          <div class="space30"></div>

          <a href="/account" class="theme-btn3">Sign Up For Free</a>

        </div>
      </div>

      <div class="col-lg-7">
        <div class="images">
          <div class="image1">
            <img src="{{ config.ASSETS_ROOT }}/img/others/others2-image.png" alt="">
          </div>
          <div class="image2">
            <img src="{{ config.ASSETS_ROOT }}/img/shapes/others2-shape1.png" alt="">
          </div>
          <div class="image3">
            <img src="{{ config.ASSETS_ROOT }}/img/shapes/others2-shape2.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--===== EMAIL INNOVATION END =======-->

<!--===== BRAND LOGOS AREA START =======-->
<div class="brand-area3 sp">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 m-auto text-center">
        <div class="headding2">
          <h2>Connect entire workflows</h2>
          <div class="space10"></div>
          <p>Join a growing community of satisfied customers! Over 4K+ users have already good chosen eSoft for its
            reliability, performance.</p>
          <div class="space20"></div>
          <a href="/features" class="theme-btn2">View All
            Integrations</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="big-logo" data-tilt data-tilt-full-page-listening data-tilt-perspective="3000">
        <img src="{{ config.ASSETS_ROOT }}/img/logo/brand-logo3.png" alt="">
      </div>
    </div>
  </div>
</div>
<!--=====  BRAND LOGOS AREA END =======-->

{% include 'partials/back-to-top.html' %}
{% endblock page_content %}


