{% extends 'layouts/landing-layout.html' %}

{% block title %}Blog Details Sidebar Right{% endblock title %}

{% block icon %}
<link rel="shortcut icon" href="{{ config.ASSETS_ROOT }}/img/logo/titel1.png" type="image/x-icon">
{% endblock icon %}

{% block body_attribute %}class="body2 body"{% endblock body_attribute %}

{% block page_content %}

<!--===== HERO AREA START =======-->
<div class="pages-hero pages-hero-unic">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="main-headding">
          <h1>The Ultimate Email Campaign Playbook</h1>
          <p>Where email marketing meets innovation. Say goodbye to generic campaigns and hello to personalised,
            high-converting emails that resonate with your audience.</p>

          <div class="space30"></div>
          <div class="all-text-hero">
            <div class="autor-area">
              <div class="image">
                <img src="{{ config.ASSETS_ROOT }}/img/blog/blog-page-smoll-img.png" alt="">
              </div>
              <div class="headding">
                <h5><a href="#">Jonson Brans</a></h5>
                <p>UI/UX Designer</p>
              </div>
            </div>

            <div class="tag">
              <a href="#">#Email Marketing</a>
            </div>
            <div class="date">
              <a href="#"><img src="{{ config.ASSETS_ROOT }}/img/icons/blog2-icon1.png" alt=""> 10 October 2023</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-5">
        <div class="hero-image shape-animaiton3">
          <img src="{{ config.ASSETS_ROOT }}/img/about/about-main-img.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <img class="hero-shape1" src="{{ config.ASSETS_ROOT }}/img/shapes/common-hero-shape1.png" alt="">
  <img class="hero-shape3" src="{{ config.ASSETS_ROOT }}/img/shapes/common-hero-shape3.png" alt="">
</div>

<!--===== HERO AREA END =======-->
<div class="space60"></div>

<!--===== SIDEBAR AREA START =======-->
<div class="blog-details-sidebar">
  <div class="container">
    <div class="row">

      <div class="col-lg-8">
        <div class="blog-details-all pr60">
          <article>
            <div class="details-box">
              <div class="image">
                <img src="{{ config.ASSETS_ROOT }}/img/blog/blog-details-img1.png" alt="">
              </div>
              <div class="space20"></div>
              <div class="all-tags">
                <a href="#" class="tag">#Email Marketing</a>
                <a href="#"><img src="{{ config.ASSETS_ROOT }}/img/icons/blog2-icon1.png" alt=""> 10 October 2023</a>
                <a href="#"><img src="{{ config.ASSETS_ROOT }}/img/icons/comment.png" alt=""> 10 October 2023</a>
              </div>
              <div class="space10"></div>

              <div class="headding2">
                <h2>Best Masterful Email Marketing Starts Here: Introducing eSoft</h2>
                <div class="space16"></div>
                <p>Email marketing, where brilliance meets innovation. At Your SaaS Name, we're on an mission to
                  transform the way you connect with your audience. Unleash the power of personalised, high-converting
                  campaigns with our intuitive drag-and-drop editor.</p>
                <div class="space16"></div>
                <p>Unleash the power of personalised, high-converting campaigns with our intuitive an drag-and-drop
                  editor, smart segmentation, and powerful automation tools. Crafting emails that resonate has never
                  been easier. Join a best community of marketers.</p>
              </div>

              <div class="space40"></div>
              <div class="blog-border"></div>
              <div class="space40"></div>
            </div>
          </article>

          <article>
            <div class="details-box">
              <div class="row">
                <div class="col-lg-6">
                  <div class="image">
                    <img src="{{ config.ASSETS_ROOT }}/img/blog/blog-detials-img2.png" alt="">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="image">
                    <img src="{{ config.ASSETS_ROOT }}/img/blog/blog-detials-img2.png" alt="">
                  </div>
                </div>
              </div>
              <div class="space30"></div>

              <div class="headding2">
                <h5>Crafting Success: Your Email Marketing Email Brilliance Unleashed: Elevate Solution -eSoft</h5>
                <div class="space16"></div>
                <p>Small business, or enterprise, eSoft has a plan tailored to your needs. Don't miss out on the email
                  marketing revolution – sign up for a free trial today and experience the magic of Your SaaS Name.
                  Engage, convert, succeed – your journey starts here.</p>

                <div class="space10"></div>
                <div class="row">

                  <div class="col-lg-6">
                    <ul class="text-list">
                      <li><span><i class="fa-solid fa-check"></i></span> Increased Organic Traffic</li>
                      <li><span><i class="fa-solid fa-check"></i></span> In-Depth Analytics Dashboard</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Content Optimization Tools</li>
                    </ul>
                  </div>

                  <div class="col-lg-6">
                    <ul class="text-list">
                      <li><span><i class="fa-solid fa-check"></i></span> Regular Performance Monitoring</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Responsive Design for Any Device</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Improved Search Engine Rankings</li>
                    </ul>
                  </div>

                </div>
              </div>

              <div class="space40"></div>
              <div class="blog-border"></div>
              <div class="space40"></div>
            </div>
          </article>


          <article>
            <div class="details-box">

              <div class="headding2">
                <h5>Beyond the Inbox: Marketing Redefines Email Efficiency & Meets Innovation Strategies</h5>
                <div class="space16"></div>
                <p>Our platform goes beyond the inbox, offering a seamless and efficient experience. See your campaigns
                  come to life with our analytics dashboard, providing data-driven insights for informed decisions.
                  Whether you're a startup, small business.</p>
              </div>

              <div class="comment-area">
                <p>“Transforming the ordinary into the extraordinary, eSoft is more than just an email marketing
                  platform; it's your gateway to and impactful communication. Craft, target, automate, and analyse with
                  ease, ensuring every email resonates.”</p>
                <img src="{{ config.ASSETS_ROOT }}/img/icons/details-comment.png" alt="" class="icon">
              </div>

              <div class="headding2">
                <h5>Crafting Success: Your Email Marketing Email Brilliance Unleashed Elevate Solution -eSoft</h5>
                <div class="space16"></div>
                <p>Small business, or enterprise, eSoft has a plan tailored to your needs. Don't miss out on the email
                  marketing revolution – sign up for a free trial today and experience the magic of Your SaaS Name.
                  Engage, convert, succeed – your journey starts here.</p>
              </div>

              <div class="space40"></div>
              <div class="blog-border"></div>
              <div class="space20"></div>
            </div>
          </article>

          <div class="social-area-all">
            <div class="tags">
              <a href="#" class="tag">#Email Marketing</a>
              <a href="#" class="date"><img src="{{ config.ASSETS_ROOT }}/img/icons/comment.png" alt=""> 10 October 2023</a>
            </div>
            <div class="social-icons">
              <ul>
                <li class="text">Share:</li>
                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-google-plus-g"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>

          <div class="space20"></div>
          <div class="qustion-box">
            <div class="image">
              <img src="{{ config.ASSETS_ROOT }}/img/icons/massanger.png" alt="">
            </div>
            <div class="pera">
              <p>Questions? Comments? Visit Our <a href="#">Help Center</a> For Support</p>
            </div>
          </div>

        </div>
      </div>


      <div class="col-lg-4">
        <div class="sidebar-single-box">
          <h3>Email Campaign Playbook</h3>

          <div class="sidebar-list">
            <ul>
              <li><a href="/blog-details" class="active">Best Masterful
                Email Marketing Starts Here: Introducing eSoft ....</a></li>
              <li><a href="/blog-details">Crafting Success: Your Email
                Marketing Solution -eSoft ....</a></li>
              <li><a href="/blog-details">Beyond the Inbox: Marketing
                Redefines Email Strategies ....</a></li>
              <li><a href="/blog-details">Effortless Excellence: Your
                Email Marketing Revolution – eSoft ....</a></li>
              <li><a href="/blog-details">Best Experience Excellence:
                eSoft Revolutionises Email Outreach ....</a></li>
            </ul>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<!--===== SIDEBAR AREA END =======-->

<!--===== BLOG AREA START =======-->
<div class="blog2 sp">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 m-auto text-center">
        <div class="headding2">
          <h2>Our Latest Blog & News</h2>
          <div class="space16"></div>
          <p>Our dynamic Landing Pages redefine user experiences, eSoft ensuring every click counts, dive into the world
            of insightful.</p>
        </div>
      </div>
    </div>

    <div class="space30"></div>
    <div class="row">
      <div class="col-lg-6">
        <div class="blog-box">
          <div class="image">
            <img src="{{ config.ASSETS_ROOT }}/img/blog/blog2-img1.png" alt="">
          </div>
          <div class="headding">
            <div class="tags">
              <a href="#"><img src="{{ config.ASSETS_ROOT }}/img/icons/blog2-icon1.png" alt=""> 10 October 2023</a>
              <a href="#"><img src="{{ config.ASSETS_ROOT }}/img/icons/blog2-icon2.png" alt=""> Rabby Mahmud</a>
            </div>
            <h4><a href="/blog-details">The Ultimate Email Campaign
              Playbook</a></h4>
            <p>Effortlessly design stunning emails, automate your market workflow, & precisely target your audience for
              maximum.</p>
            <a href="/blog-details" class="learn">Read more <span><i
              class="fa-regular fa-arrow-right"></i></span></a>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="blog-box">
          <div class="image">
            <img src="{{ config.ASSETS_ROOT }}/img/blog/blog2-img2.png" alt="">
          </div>
          <div class="headding">
            <div class="tags">
              <a href="#"><img src="{{ config.ASSETS_ROOT }}/img/icons/blog2-icon1.png" alt=""> 10 October 2023</a>
              <a href="#"><img src="{{ config.ASSETS_ROOT }}/img/icons/blog2-icon2.png" alt=""> Rabby Mahmud</a>
            </div>
            <h4><a href="/blog-details">Email Design: A Deep Dive in
              Visual Impact</a></h4>
            <p>Effortlessly design stunning emails, automate your market workflow, & precisely target your audience for
              maximum.</p>
            <a href="/blog-details" class="learn">Read more <span><i
              class="fa-regular fa-arrow-right"></i></span></a>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
<!--===== BLOG AREA END =======-->



{% include 'partials/back-to-top.html' %}
{% endblock page_content %}


