{% extends 'layouts/landing-layout.html' %}

{% block title %}Contact Us{% endblock title %}

{% block icon %}
<link rel="shortcut icon" href="{{ config.ASSETS_ROOT }}/img/logo/titel1.png" type="image/x-icon">
{% endblock icon %}

{% block body_attribute %}class="body2 body"{% endblock body_attribute %}

{% block page_content %}


<!--===== CONTACT PAGE AREA START =======-->
<div class="contact-page-area sp">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 m-auto text-center">
        <div class="common-main-headding">
          <h1>Customer Support</h1>
          <p>At eSoft, we value your inquiries and are here to provide the support you need. Whether you're looking for
            more information about our cutting-edge software.</p>
        </div>
      </div>
    </div>

    <div class="space60"></div>
    <div class="contact-form-all">
      <div class="row align-items-center">
        <div class="col-lg-7">
          <div class="form-inputs">
            <h5>Send us a Message</h5>
            <div class="space16"></div>
            <p>As a fellow small business owner, we know the fulfillment that an a comes from running your own business
              contact to Financy.</p>

            <div class="space30"></div>
            <form action="#">
              <div class="row">
                <div class="col-lg-6">
                  <div class="input">
                    <input type="text" placeholder="First Name*">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="input">
                    <input type="email" placeholder="Email*">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="input">
                    <input type="number" placeholder="Phone*">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="input">
                    <input type="text" placeholder="Website*">
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="input">
                    <textarea cols="30" rows="3" placeholder="Your Message*"></textarea>
                  </div>
                  <div class="button">
                    <button type="submit" class="theme-btn2">Submit Now</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="col-lg-5">
          <div class="contact-page-boxs">
            <div class="single-box">
              <div class="icon">
                <img src="{{ config.ASSETS_ROOT }}/img/icons/contact-page-icon1.png" alt="">
              </div>
              <div class="headding">
                <h5>Call</h5>
                <a href="tel:281-789-6642">281-789-6642</a>
              </div>
            </div>

            <div class="single-box">
              <div class="icon">
                <img src="{{ config.ASSETS_ROOT }}/img/icons/contact-page-icon2.png" alt="">
              </div>
              <div class="headding">
                <h5>Email</h5>
                <a href="mailto:info@activatedigitalmedia.com">info@activatedigitalmedia.com</a>
              </div>
            </div>

            <div class="single-box">
              <div class="icon">
                <img src="{{ config.ASSETS_ROOT }}/img/icons/contact-page-icon3.png" alt="">
              </div>
              <div class="headding">
                <h5>Schedule Time</h5>
                <a href="#">Mon - Fri: 10am to 5pm</a>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>

  <img class="shape1" src="{{ config.ASSETS_ROOT }}/img/shapes/apps-shape2.png" alt="">
  <img class="shape2" src="{{ config.ASSETS_ROOT }}/img/shapes/apps-shape1.png" alt="">
  <img class="shape3" src="{{ config.ASSETS_ROOT }}/img/shapes/apps-shape1.png" alt="">
</div>
<!--===== CONTACT PAGE AREA END =======-->


{% include 'partials/back-to-top.html' %}
{% endblock page_content %}

