{% extends 'layouts/base.html' %}

{% block title %}404{% endblock title %}

{% block icon %}
<link rel="shortcut icon" href="{{ config.ASSETS_ROOT }}/img/logo/titel1.png" type="image/x-icon">
{% endblock icon %}

{% block body_attribute %}class="body2 body"{% endblock body_attribute %}

{% block content %}

<!--=====log in area start=======-->
<div class="error-all sp _relative">
  <div class="container">
    <div class="space80"></div>
    <div class="row align-items-center">
      <div class="col-lg-8 m-auto">
        <div class="erro-page">
          <div class="image">
            <img src="{{ config.ASSETS_ROOT }}/img/others/error.png" alt="">
          </div>
          <div class="headding2 text-center">
            <h2>Sorry, Something Went Wrong</h2>
            <div class="space16"></div>
            <p>But don't worry, we've got your back. Here are a few options to get you back on track: Contact Support:
              If you believe there's a problem with our site.</p>
            <div class="space30"></div>
            <a href="/index" class="theme-btn2">Go Back To Home Page</a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <img class="shape1" src="{{ config.ASSETS_ROOT }}/img/shapes/apps-shape1.png" alt="">
  <img class="shape2" src="{{ config.ASSETS_ROOT }}/img/shapes/apps-shape1.png" alt="">
</div>
<!--=====log in area end=======-->

{% endblock content %}


