{% extends 'layouts/landing-layout.html' %}

{% block title %}Features eSoft{% endblock title %}

{% block icon %}
<link rel="shortcut icon" href="{{ config.ASSETS_ROOT }}/img/logo/titel1.png" type="image/x-icon">
{% endblock icon %}

{% block body_attribute %}class="body2 body unic-body"{% endblock body_attribute %}

{% block page_content %}

<!--===== HERO AREA START =======-->
<div class="pages-hero">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="main-headding">
          <h1>Features eSoft</h1>
          <p>Revolutionise & email marketing strategy with cutting-edge <br> software designed to elevate your
            campaigns, our intuitive.</p>

          <div class="space30"></div>
          <div class="hero-btns">
            <a href="/account" class="theme-btn2">Get Started Now</a>
            <a href="/account" class="theme-btn3">Try For Free Now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="hero-image shape-animaiton3">
          <img src="{{ config.ASSETS_ROOT }}/img/about/about-main-img.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <img class="hero-shape1" src="{{ config.ASSETS_ROOT }}/img/shapes/common-hero-shape1.png" alt="">
  <img class="hero-shape2" src="{{ config.ASSETS_ROOT }}/img/shapes/common-hero-shape2.png" alt="">
  <img class="hero-shape3" src="{{ config.ASSETS_ROOT }}/img/shapes/common-hero-shape3.png" alt="">
</div>
<!--===== HERO AREA END =======-->

<!--===== STIKY AREA START =======-->
<div class="stiky-sec sp">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="stiky-sec-boxs _relative">

          <div class="stiky-single">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="headding">
                  <h3>Website Competitor Analysis:</h3>
                  <div class="space16"></div>
                  <p>Dive into the world of keywords with our powerful research an tools. Identify high-performing
                    keywords relevant to your SEO niche, allowing you to tailor your content strategy and.</p>

                  <div class="space20"></div>
                  <ul class="list">
                    <li><span class="arrow"><i class="fa-regular fa-check"></i></span> Content Optimization Tools</li>
                    <li><span class="arrow"><i class="fa-regular fa-check"></i></span> Regular Performance Monitoring
                    </li>
                    <li><span class="arrow"><i class="fa-regular fa-check"></i></span> Improved Search Engine Rankings
                    </li>
                  </ul>
                  <div class="space30"></div>

                  <a href="/features" class="theme-btn2">Unlock SEO
                    Power</a>

                </div>
              </div>
              <div class="col-lg-6">
                <div class="stiky-sec-img">
                  <img src="{{ config.ASSETS_ROOT }}/img/features/features-stiky1.png" alt="">
                  <img class="shape" src="{{ config.ASSETS_ROOT }}/img/shapes/stiky-sec-shape2.png" alt="">
                </div>
              </div>
            </div>
          </div>

          <div class="stiky-single">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="headding">
                  <h3>Customised SEO Strategies:</h3>
                  <div class="space16"></div>
                  <p>Tailor your SEO approach with personalised recommend and strategies based on your website's unique
                    needs. Stay best informed about changes in your website's performance </p>

                  <div class="space20"></div>
                  <ul class="list">
                    <li><span class="arrow"><i class="fa-regular fa-check"></i></span> Content Optimization Tools</li>
                    <li><span class="arrow"><i class="fa-regular fa-check"></i></span> Regular Performance Monitoring
                    </li>
                    <li><span class="arrow"><i class="fa-regular fa-check"></i></span> Improved Search Engine Rankings
                    </li>
                  </ul>
                  <div class="space30"></div>

                  <a href="/features" class="theme-btn2">Unlock SEO
                    Power</a>

                </div>
              </div>
              <div class="col-lg-6">
                <div class="stiky-sec-img">
                  <img src="{{ config.ASSETS_ROOT }}/img/features/features-stiky2.png" alt="">
                  <img class="shape" src="{{ config.ASSETS_ROOT }}/img/shapes/stiky-sec-shape2.png" alt="">
                </div>
              </div>
            </div>
          </div>

          <div class="stiky-single">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="headding">
                  <h3>Local SEO Enhancement</h3>
                  <div class="space16"></div>
                  <p>Optimise your online presence for local searches, attracting nearby customers and clients. Stay
                    ahead of industry market changes with regular software updates that incorporate.</p>

                  <div class="space20"></div>
                  <ul class="list">
                    <li><span class="arrow"><i class="fa-regular fa-check"></i></span> Content Optimization Tools</li>
                    <li><span class="arrow"><i class="fa-regular fa-check"></i></span> Regular Performance Monitoring
                    </li>
                    <li><span class="arrow"><i class="fa-regular fa-check"></i></span> Improved Search Engine Rankings
                    </li>
                  </ul>
                  <div class="space30"></div>

                  <a href="/features" class="theme-btn2">Unlock SEO
                    Power</a>

                </div>
              </div>
              <div class="col-lg-6">
                <div class="stiky-sec-img">
                  <img src="{{ config.ASSETS_ROOT }}/img/features/features-stiky3.png" alt="">
                  <img class="shape" src="{{ config.ASSETS_ROOT }}/img/shapes/stiky-sec-shape2.png" alt="">
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


  </div>
</div>
<!--===== STIKY AREA END =======-->


<!--===== WORK AREA START =======-->
<div class="work2 sp _relative">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 m-auto text-center">
        <div class="headding2">
                                <span class="span">
                                     How It Works
                                </span>
          <h2>Next-Level Email Strategies</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-9 m-auto text-center">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="tab1-tab" data-bs-toggle="pill" data-bs-target="#tab1" type="button"
                    role="tab" aria-controls="tab1" aria-selected="true">1
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab2-tab" data-bs-toggle="pill" data-bs-target="#tab2" type="button" role="tab"
                    aria-controls="tab2" aria-selected="false">2
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab3-tab" data-bs-toggle="pill" data-bs-target="#tab3" type="button" role="tab"
                    aria-controls="tab3" aria-selected="false">3
            </button>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
            <div class="row">
              <div class="col-lg-4">
                <div class="tabs-box-item">
                  <h3>Create Engaging Campaigns</h3>
                  <img src="{{ config.ASSETS_ROOT }}/img/work/work2-img1.png" alt="">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="tabs-box-item">
                  <h3>Automate Workflows</h3>
                  <img src="{{ config.ASSETS_ROOT }}/img/work/work2-img2.png" alt="">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="tabs-box-item">
                  <h3>Grow Your Reach</h3>
                  <img src="{{ config.ASSETS_ROOT }}/img/work/work2-img3.png" alt="">
                </div>
              </div>

            </div>
          </div>
          <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
            <div class="row">
              <div class="col-lg-4">
                <div class="tabs-box-item">
                  <h3>Create Engaging Campaigns</h3>
                  <img src="{{ config.ASSETS_ROOT }}/img/work/work2-img1.png" alt="">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="tabs-box-item">
                  <h3>Automate Workflows</h3>
                  <img src="{{ config.ASSETS_ROOT }}/img/work/work2-img2.png" alt="">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="tabs-box-item">
                  <h3>Grow Your Reach</h3>
                  <img src="{{ config.ASSETS_ROOT }}/img/work/work2-img3.png" alt="">
                </div>
              </div>

            </div>
          </div>
          <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
            <div class="row">
              <div class="col-lg-4">
                <div class="tabs-box-item">
                  <h3>Create Engaging Campaigns</h3>
                  <img src="{{ config.ASSETS_ROOT }}/img/work/work2-img1.png" alt="">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="tabs-box-item">
                  <h3>Automate Workflows</h3>
                  <img src="{{ config.ASSETS_ROOT }}/img/work/work2-img2.png" alt="">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="tabs-box-item">
                  <h3>Grow Your Reach</h3>
                  <img src="{{ config.ASSETS_ROOT }}/img/work/work2-img3.png" alt="">
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--===== WORK AREA END =======-->

<!--===== EMAIL INNOVATION START =======-->
<div class="email-innovation"
     style="background-image: url(/static/img/bg/others2-bg.png); background-position: center center; background-repeat: no-repeat; background-size: cover;">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="headding2-w">
          <h2>Email innovation: Craft marketing an success</h2>
          <div class="space16"></div>
          <p>Email marketing journey transforms into a streamlined, an powerful experience. Our cutting-edge platform
            eeSofts you with the tools to craft compelling, personalized</p>

          <div class="space30"></div>

          <a href="/account" class="theme-btn3">Sign Up For Free</a>

        </div>
      </div>

      <div class="col-lg-7">
        <div class="images">
          <div class="image1">
            <img src="{{ config.ASSETS_ROOT }}/img/others/others2-image.png" alt="">
          </div>
          <div class="image2">
            <img src="{{ config.ASSETS_ROOT }}/img/shapes/others2-shape1.png" alt="">
          </div>
          <div class="image3">
            <img src="{{ config.ASSETS_ROOT }}/img/shapes/others2-shape2.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--===== EMAIL INNOVATION END =======-->

<!--===== FEATURES STAPES START =======-->
<div class="feratures-page-area sp">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-lg-6">
        <div class="image">
          <img src="{{ config.ASSETS_ROOT }}/img/features/features-page-stapes1.png" alt="">
        </div>
      </div>

      <div class="col-lg-6">
        <div class="headding2 features-left">
          <span class="span">Email Deliverability</span>
          <h5>Enhance cold email and inbox delivery</h5>
          <div class="space16"></div>
          <p>Experience peace of mind with our deliverability-focused product, eeSoftped & fail-safes, real-time
            notifications, and spam prevention, ensuring your emails consistently land in the right inboxes and sparing
            you the frustration of spam placement.</p>
          <div class="space30"></div>
          <div class="">
            <a href="/account" class="theme-btn2">Sign Up For Free</a>
          </div>
        </div>
      </div>

    </div>

    <div class="space100"></div>

    <div class="row align-items-center">

      <div class="col-lg-6">
        <div class="headding2 features-right">
          <span class="span">Email Deliverability</span>
          <h5>Target Your Audience</h5>
          <div class="space16"></div>
          <p>Experience peace of mind with our deliverability-focused product, eeSoftped & fail-safes, real-time
            notifications, and spam prevention, ensuring your emails consistently land in the right inboxes and sparing
            you the frustration of spam placement.</p>
          <div class="space30"></div>
          <div class="">
            <a href="/account" class="theme-btn2">Sign Up For Free</a>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="image">
          <img src="{{ config.ASSETS_ROOT }}/img/features/features-page-stapes1.png" alt="">
        </div>
      </div>

    </div>

  </div>
</div>
<!--===== FEATURES STAPES END =======-->

<!--===== ABOUT PAGE ATEA start =======-->
<div class="about-page-area2 _relative">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 m-auto text-center">
        <div class="headding2">
          <h2>Email Excellence Starts Here</h2>
          <div class="space16"></div>
          <p>Revolutionise your approach to email marketing with eSoft. As pioneers the industry, we bring you a eSoft
            comprehensive solution that only.</p>
        </div>
      </div>
    </div>

    <div class="space30"></div>
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="space30"></div>
        <div class="left-image">
          <img src="{{ config.ASSETS_ROOT }}/img/about/about-page-img2.png" alt="">
        </div>
      </div>


      <div class="col-lg-5">
        <div class="about-page-boxs">
          <div class="single-box">
            <div class="icon">
              <img src="{{ config.ASSETS_ROOT }}/img/icons/about-page-sec-icon1.png" alt="">
            </div>
            <div class="space20"></div>
            <div class="headding2">
              <h4><a href="/features">Comprehensive Analytics:</a></h4>
              <div class="space10"></div>
              <p>Gain valuable insights into your email performance. eSoft offers robust analytics and reporting
                tools</p>
            </div>
          </div>

          <div class="single-box">
            <div class="icon">
              <img src="{{ config.ASSETS_ROOT }}/img/icons/about-page-sec-icon2.png" alt="">
            </div>
            <div class="space20"></div>
            <div class="headding2">
              <h4><a href="/features">Effortless Automation:</a></h4>
              <div class="space10"></div>
              <p>Gain valuable insights into your email performance. eSoft offers robust analytics and reporting
                tools</p>
            </div>
          </div>

          <div class="single-box">
            <div class="icon">
              <img src="{{ config.ASSETS_ROOT }}/img/icons/about-page-sec-icon3.png" alt="">
            </div>
            <div class="space20"></div>
            <div class="headding2">
              <h4><a href="/features">Personalised Targeting:</a></h4>
              <div class="space10"></div>
              <p>Gain valuable insights into your email performance. eSoft offers robust analytics and reporting
                tools</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <img class="about-shape2" src="{{ config.ASSETS_ROOT }}/img/shapes/common-hero-shape2.png" alt="">
</div>
<!--===== ABOUT PAGE ATEA END =======-->



{% include 'partials/back-to-top.html' %}
{% endblock page_content %}


