{% extends 'layouts/landing-layout.html' %}

{% block title %}Pricing Plan{% endblock title %}

{% block icon %}
<link rel="shortcut icon" href="{{ config.ASSETS_ROOT }}/img/logo/titel1.png" type="image/x-icon">
{% endblock icon %}

{% block body_attribute %}class="body2 body"{% endblock body_attribute %}

{% block page_content %}

<!--===== HERO AREA START =======-->
<div class="pages-hero">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="main-headding">
          <h1>Pricing Plan</h1>
          <p>Revolutionise & email marketing strategy with cutting-edge <br> software designed to elevate your
            campaigns, our intuitive.</p>

          <div class="space30"></div>
          <div class="hero-btns">
            <a href="/account" class="theme-btn2">Get Started Now</a>
            <a href="/account" class="theme-btn3">Try For Free Now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="hero-image shape-animaiton3">
          <img src="{{ config.ASSETS_ROOT }}/img/about/about-main-img.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <img class="hero-shape1" src="{{ config.ASSETS_ROOT }}/img/shapes/common-hero-shape1.png" alt="">
  <img class="hero-shape2" src="{{ config.ASSETS_ROOT }}/img/shapes/common-hero-shape2.png" alt="">
  <img class="hero-shape3" src="{{ config.ASSETS_ROOT }}/img/shapes/common-hero-shape3.png" alt="">
</div>
<!--===== HERO AREA END =======-->

<!--===== PRIICING AREA START =======-->
<div class="pricing-plan-page sp">
  <div class="container">
    <div class="princing-plans">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <div class="plan-toggle-wrap">
              <p class="pera">Save up to 32% with yearly billing.</p>
              <div class="toggle-inner toggle-inner2">
                <input id="ce-toggle" checked type="checkbox">
                <span class="custom-toggle"></span>
                <span class="t-month">Monthly</span>
                <span class="t-year">Yearly (Save 20%)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="space60"></div>
        <div class="tab-content">
          <div id="monthly">
            <div class="row">
              <div class="col-md-6 col-lg-4">
                <div class="pricing-box">
                  <div class="pricing-box-single">

                    <div class="text-center">
                      <span class="span">Free Forever</span>
                      <h3>Free</h3>
                      <p class="pera">Unlimited Month</p>
                    </div>

                    <a href="#" class="theme-btn2">Free Forever</a>

                    <ul class="list">
                      <li><span><i class="fa-solid fa-check"></i></span> Unlimited Storage</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Unlimited Integrations</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Guests with Permissions</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Unlimited Custom Fields</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Resource Management</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Advanced Public Sharing</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Advanced Time Tracking</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Workload Management</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Conditional Logic in Forms</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Access to Managed Services</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Team Sharing for Spaces</li>
                    </ul>

                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="pricing-box">
                  <div class="pricing-box-single">

                    <div class="text-center">
                      <span class="span">Mid Teams</span>
                      <h3>Business</h3>
                      <p class="pera">Unlimited Month</p>
                    </div>

                    <a href="#" class="theme-btn2">Free Forever</a>

                    <ul class="list">
                      <li><span><i class="fa-solid fa-check"></i></span> Unlimited Storage</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Unlimited Integrations</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Guests with Permissions</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Unlimited Custom Fields</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Resource Management</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Advanced Public Sharing</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Advanced Time Tracking</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Workload Management</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Conditional Logic in Forms</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Access to Managed Services</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Team Sharing for Spaces</li>
                    </ul>

                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="pricing-box">
                  <div class="pricing-box-single">

                    <div class="text-center">
                      <span class="span">Large Teams</span>
                      <h3>Enterprise</h3>
                      <p class="pera">Unlimited Usages</p>
                    </div>

                    <a href="#" class="theme-btn2">Free Forever</a>

                    <ul class="list">
                      <li><span><i class="fa-solid fa-check"></i></span> Unlimited Storage</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Unlimited Integrations</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Guests with Permissions</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Unlimited Custom Fields</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Resource Management</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Advanced Public Sharing</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Advanced Time Tracking</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Workload Management</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Conditional Logic in Forms</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Access to Managed Services</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Team Sharing for Spaces</li>
                    </ul>

                  </div>
                </div>
              </div>

            </div>
          </div>
          <div id="yearly" style="display:none;">

            <div class="row">
              <div class="col-md-6 col-lg-4">
                <div class="pricing-box">
                  <div class="pricing-box-single">

                    <div class="text-center">
                      <span class="span">Free Forever</span>
                      <h3>Free</h3>
                      <p class="pera">Unlimited Yearly</p>
                    </div>

                    <a href="#" class="theme-btn2">Free Forever</a>

                    <ul class="list">
                      <li><span><i class="fa-solid fa-check"></i></span> Unlimited Storage</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Unlimited Integrations</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Guests with Permissions</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Unlimited Custom Fields</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Resource Management</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Advanced Public Sharing</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Advanced Time Tracking</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Workload Management</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Conditional Logic in Forms</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Access to Managed Services</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Team Sharing for Spaces</li>
                    </ul>

                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="pricing-box">
                  <div class="pricing-box-single">

                    <div class="text-center">
                      <span class="span">Mid Teams</span>
                      <h3>Business</h3>
                      <p class="pera">Unlimited Yearly</p>
                    </div>

                    <a href="#" class="theme-btn2">Free Forever</a>

                    <ul class="list">
                      <li><span><i class="fa-solid fa-check"></i></span> Unlimited Storage</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Unlimited Integrations</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Guests with Permissions</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Unlimited Custom Fields</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Resource Management</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Advanced Public Sharing</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Advanced Time Tracking</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Workload Management</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Conditional Logic in Forms</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Access to Managed Services</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Team Sharing for Spaces</li>
                    </ul>

                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="pricing-box">
                  <div class="pricing-box-single">

                    <div class="text-center">
                      <span class="span">Large Teams</span>
                      <h3>Enterprise</h3>
                      <p class="pera">Unlimited Usages</p>
                    </div>

                    <a href="#" class="theme-btn2">Free Forever</a>

                    <ul class="list">
                      <li><span><i class="fa-solid fa-check"></i></span> Unlimited Storage</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Unlimited Integrations</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Guests with Permissions</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Unlimited Custom Fields</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Resource Management</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Advanced Public Sharing</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Advanced Time Tracking</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Workload Management</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Conditional Logic in Forms</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Access to Managed Services</li>
                      <li><span><i class="fa-solid fa-check"></i></span> Team Sharing for Spaces</li>
                    </ul>

                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!--===== PRIICING AREA END =======-->



{% include 'partials/back-to-top.html' %}
{% endblock page_content %}


