{% extends 'layouts/base.html' %}

{% block title %}Email Marketing Sass Landing Page{% endblock title %}

{% block icon %}
<link rel="shortcut icon" href="{{ config.ASSETS_ROOT }}/img/logo/titel1.png" type="image/x-icon">
{% endblock icon %}

{% block body_attribute %}class="body2 body"{% endblock body_attribute %}

{% block content %}

<!--=====HEADER START=======-->
<header>
  <div class="header-area header-area2 header-area-all d-none d-lg-block" id="header">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="header-elements">
            <div class="site-logo home1-site-logo">
              <a href="/index"
              ><img src="{{ config.ASSETS_ROOT }}/img/logo/header-logo2.png" alt="">
              </a>
            </div>


            <div class="main-menu-ex main-menu-ex1">
              <ul id="list-example">

                <li><a href="#">Home <i class="fa-solid fa-angle-down"></i></a>
                  <div class="tp-submenu">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="all-images-menu">
                          <div class="homemenu-thumb">
                            <div class="img1">
                              <img src="{{ config.ASSETS_ROOT }}/img/demo/demo1.jpg" alt="">
                            </div>
                            <div class="homemenu-btn">
                              <a class="header-btn1" href="/index">Multi
                                Page <i class="fa-solid fa-arrow-right"></i></a>
                              <div class="space16"></div>
                              <a class="header-btn1"
                                 href="/single-index1" target="_blank">One
                                page <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                            <a href="/index" class="bottom-heading">01.
                              Web Page Builder</a>
                          </div>

                          <div class="homemenu-thumb">
                            <div class="img1">
                              <img src="{{ config.ASSETS_ROOT }}/img/demo/demo2.jpg" alt="">
                            </div>
                            <div class="homemenu-btn">
                              <a class="header-btn1" href="/index2">Multi
                                Page <i class="fa-solid fa-arrow-right"></i></a>
                              <div class="space16"></div>
                              <a class="header-btn1"
                                 href="/single-index2" target="_blank">One
                                page <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                            <a href="/index2" class="bottom-heading">02.
                              Time Tracker</a>
                          </div>


                          <div class="homemenu-thumb">
                            <div class="img1">
                              <img src="{{ config.ASSETS_ROOT }}/img/demo/demo3.jpg" alt="">
                            </div>
                            <div class="homemenu-btn">
                              <a class="header-btn1" href="/index3">Multi
                                Page <i class="fa-solid fa-arrow-right"></i></a>
                              <div class="space16"></div>
                              <a class="header-btn1"
                                 href="/single-index3" target="_blank">One
                                page <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                            <a href="/index3" class="bottom-heading">03.
                              POS Software</a>
                          </div>

                          <div class="homemenu-thumb">
                            <div class="img1">
                              <img src="{{ config.ASSETS_ROOT }}/img/demo/demo4.jpg" alt="">
                            </div>
                            <div class="homemenu-btn">
                              <a class="header-btn1" href="/index4">Multi
                                Page <i class="fa-solid fa-arrow-right"></i></a>
                              <div class="space16"></div>
                              <a class="header-btn1"
                                 href="/single-index4" target="_blank">One
                                page <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                            <a href="/index4" class="bottom-heading">04.
                              Password Manager</a>
                          </div>

                          <div class="homemenu-thumb" style="margin: 0 0 20px 0;">
                            <div class="img1">
                              <img src="{{ config.ASSETS_ROOT }}/img/demo/demo5.jpg" alt="">
                            </div>
                            <div class="homemenu-btn">
                              <a class="header-btn1" href="/index5">Multi
                                Page <i class="fa-solid fa-arrow-right"></i></a>
                              <div class="space16"></div>
                              <a class="header-btn1"
                                 href="/single-index5" target="_blank">One
                                page <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                            <a href="/index5" class="bottom-heading">05.
                              HR Software</a>
                          </div>
                        </div>

                        <div class="all-images-menu">
                          <div class="homemenu-thumb">
                            <div class="img1">
                              <img src="{{ config.ASSETS_ROOT }}/img/demo/demo6.jpg" alt="">
                            </div>
                            <div class="homemenu-btn">
                              <a class="header-btn1" href="/index6">Multi
                                Page <i class="fa-solid fa-arrow-right"></i></a>
                              <div class="space16"></div>
                              <a class="header-btn1"
                                 href="/single-index6" target="_blank">One
                                page <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                            <a href="/index6" class="bottom-heading">06.
                              Email Marketing</a>
                          </div>

                          <div class="homemenu-thumb">
                            <div class="img1">
                              <img src="{{ config.ASSETS_ROOT }}/img/demo/demo7.jpg" alt="">
                            </div>
                            <div class="homemenu-btn">
                              <a class="header-btn1" href="/index7">Multi
                                Page <i class="fa-solid fa-arrow-right"></i></a>
                              <div class="space16"></div>
                              <a class="header-btn1"
                                 href="/single-index7" target="_blank">One
                                page <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                            <a href="/index7" class="bottom-heading">7.
                              Project Management</a>
                          </div>


                          <div class="homemenu-thumb">
                            <div class="img1">
                              <img src="{{ config.ASSETS_ROOT }}/img/demo/demo8.jpg" alt="">
                            </div>
                            <div class="homemenu-btn">
                              <a class="header-btn1" href="/index8">Multi
                                Page <i class="fa-solid fa-arrow-right"></i></a>
                              <div class="space16"></div>
                              <a class="header-btn1"
                                 href="/single-index8" target="_blank">One
                                page <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                            <a href="/index8" class="bottom-heading">08.
                              SEO Software</a>
                          </div>

                          <div class="homemenu-thumb">
                            <div class="img1">
                              <img src="{{ config.ASSETS_ROOT }}/img/demo/demo9.jpg" alt="">
                            </div>
                            <div class="homemenu-btn">
                              <a class="header-btn1" href="/index9">Multi
                                Page <i class="fa-solid fa-arrow-right"></i></a>
                              <div class="space16"></div>
                              <a class="header-btn1"
                                 href="/single-index9" target="_blank">One
                                page <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                            <a href="/index9" class="bottom-heading">09.
                              Social Media</a>
                          </div>

                          <div class="homemenu-thumb" style="margin: 0 0 20px 0;">
                            <div class="img1">
                              <img src="{{ config.ASSETS_ROOT }}/img/demo/rtl.png" alt="">
                            </div>
                            <div class="text">
                              <h2>RTL</h2>
                            </div>
                            <div class="homemenu-btn">
                              <a class="header-btn1" href="/rtl">Multi
                                Page <i class="fa-solid fa-arrow-right"></i></a>
                              <div class="space16"></div>
                              <a class="header-btn1" href="/single-rtl"
                                 target="_blank">One page <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                            <a href="/rtl" class="bottom-heading">10. RTL
                              Version</a>
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>
                </li>

                <li><a class="list-group-item list-group-item-action" href="#choose">Choose Us</a></li>
                <li><a class="list-group-item list-group-item-action" href="#email">Email Innovation</a></li>
                <li><a class="list-group-item list-group-item-action" href="#work">Works</a></li>
                <li><a class="list-group-item list-group-item-action" href="#stapes">Stapes</a></li>
                <li><a class="list-group-item list-group-item-action" href="#testimonial">Testimonial</a></li>
              </ul>
            </div>


            <div class="header2-buttons">
              <a href="/login" class="login-btn">Log In</a>
              <a href="/account" class="theme-btn2">Sign Up For Free</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--=====HEADER END=======-->


<!--=====Mobile header start=======-->
<div class="mobile-header d-block d-lg-none ">
  <div class="container-fluid">
    <div class="col-12">
      <div class="mobile-header-elements">
        <div class="mobile-logo">
          <a href="/index1"><img
            src="{{ config.ASSETS_ROOT }}/img/logo/header-logo2.png" alt=""></a>
        </div>
        <div class="mobile-nav-icon">
          <i class="fa-duotone fa-bars-staggered"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mobile-sidebar d-block d-lg-none">
  <div class="logo-m">
    <a href="/index"><img src="{{ config.ASSETS_ROOT }}/img/logo/header-logo1.png"
                                                                         alt=""></a>
  </div>
  <div class="menu-close">
    <i class="fa-solid fa-xmark"></i>
  </div>
  <div class="mobile-nav">

    <ul>
      <li class="has-dropdown"><a href="#">Home </a>
        <ul class="sub-menu">
          <li class="has-dropdown has-dropdown1"><a href="/index4">Multipage</a>
            <ul class="sub-menu">
              <li><a href="/index">Home 1</a></li>
              <li><a href="/index2">Home 2</a></li>
              <li><a href="/index3">Home 3</a></li>
              <li><a href="/index4">Home 4</a></li>
              <li><a href="/index5">Home 5</a></li>
              <li><a href="/index6">Home 6</a></li>
              <li><a href="/index7">Home 7</a></li>
              <li><a href="/index8">Home 8</a></li>
              <li><a href="/index9">Home 9</a></li>
              <li><a href="/rtl">RTL</a></li>
            </ul>
          </li>
          <li class="has-dropdown has-dropdown1"><a href="/index4">Landing
            Page</a>
            <ul class="sub-menu">
              <li><a href="/single-index1">Home 1</a></li>
              <li><a href="/single-index2">Home 2</a></li>
              <li><a href="/single-index3">Home 3</a></li>
              <li><a href="/single-index4">Home 4 </a></li>
              <li><a href="/single-index5">Home 5 </a></li>
              <li><a href="/single-index6">Home 6 </a></li>
              <li><a href="/single-index7">Home 7 </a></li>
              <li><a href="/single-index8">Home 8 </a></li>
              <li><a href="/single-index9">Home 9 </a></li>
              <li><a href="/single-rtl">RTL </a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="/about">About Us</a></li>
      <li class="has-dropdown"><a href="#">Pages</a>
        <ul class="sub-menu">
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="/features">Features</a></li>
          <li><a href="/testimonial">Testimonial</a></li>
          <li><a href="/pricing">Pricing</a></li>
          <li><a href="/download">Download</a></li>
          <li><a href="/error">404</a></li>
        </ul>
      </li>

      <li class="has-dropdown"><a href="#">Blog</a>
        <ul class="sub-menu">
          <li><a href="/blog">Blog</a></li>
          <li><a href="/blog-details-sidebar-left">Details Left</a></li>
          <li><a href="/blog-details-sidebar-right">Details Right</a>
          </li>
          <li><a href="/blog-details">Blog Details</a></li>
        </ul>
      </li>

      <li class="has-dropdown"><a href="#">Account</a>
        <ul class="sub-menu">
          <li><a href="/account">Create Account</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/forgot">Forgot</a></li>
          <li><a href="/reset">Reset</a></li>
          <li><a href="/verify">Verify Email</a></li>
          <li><a href="/form-success">Success</a></li>
        </ul>
      </li>

    </ul>
    <a href="/account" class="theme-btn3">Sign Up For Free</a>

    <div class="contact-infos">
      <h3>Contact Info</h3>
      <div class="box">
        <div class="icon">
          <span><i class="fa-regular fa-phone"></i></span>
        </div>
        <div class="pera">
          <a href="tel:921-888-0022">921-888-0022</a>
        </div>
      </div>
      <div class="box">
        <div class="icon">
          <span><i class="fa-regular fa-envelope"></i></span>
        </div>
        <div class="pera">
          <a href="mailto:example@visafast.com">example@visafast.com</a>
        </div>
      </div>
    </div>
    <div class="contact-infos">
      <h3>Our Location</h3>
      <div class="box">
        <div class="icon">
          <span><i class="fa-regular fa-location-dot"></i></span>
        </div>
        <div class="pera">
          <a href="#">55 East Birchwood Ave.Brooklyn, <br>
            New York 11201,United States</a>
        </div>
      </div>
    </div>

    <div class="contact-infos">
      <h3>Our Location</h3>
      <ul class="icon-list">
        <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
      </ul>
    </div>

  </div>
</div>

<!--=====Mobile header end=======-->

<!--===== HERO AREA START =======-->

<div class="hero-area2">
  <div class="container">
    <div class="row align-items-center hero2-content">
      <div class="col-lg-6">
        <div class="main-headding pbmit-heading-subheading animation-style2">
          <h1 class="pbmit-title">Ai Powered Email Deliverability & Reputation Tool</h1>
          <p data-aos="fade-right" data-aos-duration="800">Revolutionize your email marketing strategy with cutting-edge
            and software designed to elevate your campaigns. Our intuitive platform is offers a seamless interface,
            empowering software.</p>

          <div class="space30"></div>
          <div class="hero-btns" data-aos="fade-right" data-aos-duration="1100">
            <a href="/login" class="theme-btn2">Send Smarter Emails</a>
            <a href="/features" class="theme-btn3">Explore Features</a>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="hero2-image">
          <div class="image1 animate1">
            <img src="{{ config.ASSETS_ROOT }}/img/hero/hero2-image1.png" alt="">
          </div>
          <div class="image2">
            <img src="{{ config.ASSETS_ROOT }}/img/hero/hero2-image2.png" alt="">
          </div>
          <div class="image3">
            <img src="{{ config.ASSETS_ROOT }}/img/hero/hero2-image3.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--===== HERO AREA END =======-->

<!--===== HERO IMAGE AREA START =======-->

<div class="hero2-bashbord">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="images">
          <div class="image1">
            <img src="{{ config.ASSETS_ROOT }}/img/hero/hero2-dasbord-img.png" alt="">
          </div>
          <div class="image2">
            <img src="{{ config.ASSETS_ROOT }}/img/shapes/hero2-shape.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <img class="shape1" src="{{ config.ASSETS_ROOT }}/img/shapes/home2-element1.png" alt="">
  <img class="shape2" src="{{ config.ASSETS_ROOT }}/img/shapes/home2-element2.png" alt="">
</div>

<!--===== HERO IMAGE AREA END =======-->

<div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example" tabindex="0">
  <!--===== CHOOSE AREA START =======-->

  <div class="choose2 sp" id="choose">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 m-auto text-center">
          <div class="headding2 pbmit-heading-subheading animation-style2">
            <span class="span">Why Choose eSoft?</span>
            <h2 class="pbmit-title">Empower Brand: Transform Through Email Campaigns</h2>
          </div>
        </div>

      </div>

      <div class="space30"></div>
      <div class="row align-items-center">
        <div class="col-lg-5">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item" data-aos="fade-right" data-aos-duration="800">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                  Prepare your domain inbox
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Experience peace mind with our deliver ability-focused product, eeSoftped & fail- an, real-time google
                  mail checked notifications.
                </div>
              </div>
            </div>
            <div class="accordion-item" data-aos="fade-right" data-aos-duration="1000">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Email health check-up
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Experience peace mind with our deliver ability-focused product, eeSoftped & fail- an, real-time google
                  mail checked notifications.
                </div>
              </div>
            </div>
            <div class="accordion-item" data-aos="fade-right" data-aos-duration="1200">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  How to write a cold email replies
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Experience peace mind with our deliver ability-focused product, eeSoftped & fail- an, real-time google
                  mail checked notifications.
                </div>
              </div>
            </div>
          </div>

          <div class="space30"></div>

          <div class="" data-aos="fade-right" data-aos-duration="900">
            <a href="/features" class="theme-btn2">Boost Campaigns
              Now</a>
          </div>
        </div>

        <div class="col-lg-7">
          <div class="choose-images" data-aos="zoom-in-up" data-aos-duration="900">
            <div class="image1">
              <img src="{{ config.ASSETS_ROOT }}/img/choose/choose2-img.png" alt="">
            </div>
            <div class="image2">
              <img src="{{ config.ASSETS_ROOT }}/img/shapes/hero2-shape.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--===== CHOOSE AREA END =======-->

  <!--===== EMAIL INNOVATION START =======-->

  <div class="email-innovation" id="email"
       style="background-image: url(/static/img/bg/others2-bg.png); background-position: center center; background-repeat: no-repeat; background-size: cover;">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="headding2-w pbmit-heading-subheading animation-style2">
            <h2 class="pbmit-title">Email innovation: Craft marketing an success</h2>
            <div class="space16"></div>
            <p data-aos="fade-right" data-aos-duration="800">Email marketing journey transforms into a streamlined, an
              powerful experience. Our cutting-edge platform eeSofts you with the tools to craft compelling,
              personalized</p>
            <div class="space30"></div>
            <div class="" data-aos="fade-right" data-aos-duration="1000">
              <a href="/account" class="theme-btn3">Start For Free
                Now</a>
            </div>

          </div>
        </div>

        <div class="col-lg-7">
          <div class="images" data-aos="zoom-in-up" data-aos-duration="1000">
            <div class="image1">
              <img src="{{ config.ASSETS_ROOT }}/img/others/others2-image.png" alt="">
            </div>
            <div class="image2">
              <img src="{{ config.ASSETS_ROOT }}/img/shapes/others2-shape1.png" alt="">
            </div>
            <div class="image3">
              <img src="{{ config.ASSETS_ROOT }}/img/shapes/others2-shape2.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--===== EMAIL INNOVATION END =======-->

  <!--===== WORK AREA START =======-->

  <div class="work2 sp _relative" id="work">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 m-auto text-center">
          <div class="headding2 pbmit-heading-subheading animation-style2">
                              <span class="span">
                                   How It Works
                              </span>
            <h2 class="pbmit-title">Next-Level Email Strategies</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-9 m-auto text-center">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="tab1-tab" data-bs-toggle="pill" data-bs-target="#tab1" type="button"
                      role="tab" aria-controls="tab1" aria-selected="true">1
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="tab2-tab" data-bs-toggle="pill" data-bs-target="#tab2" type="button"
                      role="tab" aria-controls="tab2" aria-selected="false">2
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="tab3-tab" data-bs-toggle="pill" data-bs-target="#tab3" type="button"
                      role="tab" aria-controls="tab3" aria-selected="false">3
              </button>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
              <div class="row">
                <div class="col-lg-4">
                  <div class="tabs-box-item" data-aos="fade-up" data-aos-duration="800">
                    <h3>Create Engaging Campaigns</h3>
                    <img src="{{ config.ASSETS_ROOT }}/img/work/work2-img1.png" alt="">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="tabs-box-item" data-aos="fade-up" data-aos-duration="1000">
                    <h3>Automate Workflows</h3>
                    <img src="{{ config.ASSETS_ROOT }}/img/work/work2-img2.png" alt="">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="tabs-box-item" data-aos="fade-up" data-aos-duration="1100">
                    <h3>Grow Your Reach</h3>
                    <img src="{{ config.ASSETS_ROOT }}/img/work/work2-img3.png" alt="">
                  </div>
                </div>

              </div>
            </div>
            <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
              <div class="row">
                <div class="col-lg-4">
                  <div class="tabs-box-item">
                    <h3>Create Engaging Campaigns</h3>
                    <img src="{{ config.ASSETS_ROOT }}/img/work/work2-img1.png" alt="">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="tabs-box-item">
                    <h3>Automate Workflows</h3>
                    <img src="{{ config.ASSETS_ROOT }}/img/work/work2-img2.png" alt="">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="tabs-box-item">
                    <h3>Grow Your Reach</h3>
                    <img src="{{ config.ASSETS_ROOT }}/img/work/work2-img3.png" alt="">
                  </div>
                </div>

              </div>
            </div>
            <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
              <div class="row">
                <div class="col-lg-4">
                  <div class="tabs-box-item">
                    <h3>Create Engaging Campaigns</h3>
                    <img src="{{ config.ASSETS_ROOT }}/img/work/work2-img1.png" alt="">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="tabs-box-item">
                    <h3>Automate Workflows</h3>
                    <img src="{{ config.ASSETS_ROOT }}/img/work/work2-img2.png" alt="">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="tabs-box-item">
                    <h3>Grow Your Reach</h3>
                    <img src="{{ config.ASSETS_ROOT }}/img/work/work2-img3.png" alt="">
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img class="shape1" src="{{ config.ASSETS_ROOT }}/img/shapes/home2-element1.png" alt="">
    <img class="shape2" src="{{ config.ASSETS_ROOT }}/img/shapes/home2-element2.png" alt="">
  </div>

  <!--===== WORK AREA END =======-->

  <!--===== STAPES AREA START =======-->

  <div class="stapes sp" id="stapes">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <div class="headding2 pbmit-heading-subheading animation-style2">
            <span class="span">Email Deliverability</span>
            <h5 class="pbmit-title">Enhance cold email and inbox delivery</h5>
            <div class="space16"></div>
            <p data-aos="fade-right" data-aos-duration="800">Experience peace of mind with our deliverability-focused
              product, eeSoftped & fail-safes, real-time notifications, and spam prevention, ensuring your emails
              consistently land in the right inboxes and sparing you the frustration of spam placement.</p>
            <div class="space24"></div>
            <div class="" data-aos="fade-right" data-aos-duration="1000">
              <a href="/account" class="theme-btn2">Get Started Now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-7">
          <div class="stapes-images1" data-aos="flip-right" data-aos-duration="900">
            <div class="image1">
              <img src="{{ config.ASSETS_ROOT }}/img/work/staps-1.png" alt="">
            </div>
            <div class="image2">
              <img src="{{ config.ASSETS_ROOT }}/img/shapes/hero2-shape.png" alt="">
            </div>
          </div>
        </div>
      </div>


      <div class="space120"></div>
      <div class="row align-items-center">

        <div class="col-lg-7">
          <div class="stapes-images2">
            <div class="image1" data-aos="flip-left" data-aos-duration="900">
              <img src="{{ config.ASSETS_ROOT }}/img/work/staps-1.png" alt="">
            </div>
            <div class="image2">
              <img src="{{ config.ASSETS_ROOT }}/img/shapes/hero2-shape.png" alt="">
            </div>

            <div class="main-shape">
              <img src="{{ config.ASSETS_ROOT }}/img/shapes/staps-shape.png" alt="">
            </div>
          </div>
        </div>

        <div class="col-lg-5">
          <div class="headding2 pbmit-heading-subheading animation-style2">
            <span class="span">Email Deliverability</span>
            <h5 class="pbmit-title">Enhance cold email and inbox delivery</h5>
            <div class="space16"></div>
            <p data-aos="fade-left" data-aos-duration="800">Experience peace of mind with our deliverability-focused
              product, eeSoftped & fail-safes, real-time notifications, and spam prevention, ensuring your emails
              consistently land in the right inboxes and sparing you the frustration of spam placement.</p>
            <div class="space24"></div>
            <div class="" data-aos="fade-left" data-aos-duration="1000">
              <a href="/account" class="theme-btn2">Get Started Now</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!--===== STAPES AREA END =======-->

  <!--===== APPS AREA SREA =======-->

  <div class="apps"
       style="background-image: url(/static/img/bg/apps-area-bg.png); background-position: center center; background-repeat: no-repeat; background-size: cover;">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4">
          <div class="apps-img1" data-aos="fade-down" data-aos-duration="800">
            <img src="{{ config.ASSETS_ROOT }}/img/others/apps-img1.png" alt="">
          </div>
        </div>

        <div class="col-lg-4">
          <div class="headding2-w text-center pbmit-heading-subheading animation-style2">
            <span class="span">Integrations</span>
            <h2 class="pbmit-title">Connect With Your Favorite Apps</h2>
            <div class="space16"></div>
            <p data-aos="fade-up" data-aos-duration="800">With our intuitive platform, creating impactful campaigns a
              breeze. Effortlessly email market</p>

            <div class="space30"></div>
            <div class="" data-aos="fade-up" data-aos-duration="1000">
              <a href="/features" class="others">View All
                Integrations</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="apps-img2" data-aos="fade-down" data-aos-duration="900">
            <img src="{{ config.ASSETS_ROOT }}/img/others/apps-img2.png" alt="">
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-lg-10 m-auto text-center">
          <div class="bottom-logo">
            <img src="{{ config.ASSETS_ROOT }}/img/logo/others2-bottom-logo.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--===== APPS AREA END =======-->

  <!--===== TES AREA START =======-->

  <div class="tes2" id="testimonial">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="headding2 pbmit-heading-subheading animation-style2">
            <span class="span">Testimonials</span>
            <h2 class="pbmit-title">Why Our Users Love Us</h2>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="testimonial-arrows" data-aos="fade-left" data-aos-duration="800">
            <button class="testimonial-prev-arrow2">
              <i class="fa-regular fa-arrow-left"></i>
            </button>
            <button class="testimonial-next-arrow2">
              <i class="fa-regular fa-arrow-right"></i>
            </button>
          </div>
        </div>

      </div>

      <div class="space60"></div>

      <div class="row">
        <div class="col-lg-12">
          <div class="tes2-slider-all" data-aos="fade-up" data-aos-duration="900">
            <div class="single-slider">
              <ul class="stars">
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
              </ul>

              <div class="icon">
                <img src="{{ config.ASSETS_ROOT }}/img/icons/tes2-icon.png" alt="">
              </div>

              <p>I can't imagine managing our email campaigns a without eSoft. The simplicity of creating visually
                stunning emails combined with powerful automation tools has been a game-changer for our marketing team.
                Our engagement rates have soared.</p>

              <div class="single-slider-bottom">
                <div class="headdding-area">
                  <div class="image">
                    <img src="{{ config.ASSETS_ROOT }}/img/testimonial/tes2-img1.png" alt="">
                  </div>
                  <div class="headding">
                    <h5><a href="#">Pat Cummins</a></h5>
                    <p>Ceo Biosynthesis</p>
                  </div>
                </div>
                <div class="logo">
                  <img src="{{ config.ASSETS_ROOT }}/img/logo/tes2-logo1.png" alt="">
                </div>
              </div>
            </div>


            <div class="single-slider">
              <ul class="stars">
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
              </ul>

              <div class="icon">
                <img src="{{ config.ASSETS_ROOT }}/img/icons/tes2-icon.png" alt="">
              </div>

              <p>I can't imagine managing our email campaigns a without eSoft. The simplicity of creating visually
                stunning emails combined with powerful automation tools has been a game-changer for our marketing team.
                Our engagement rates have soared.</p>

              <div class="single-slider-bottom">
                <div class="headdding-area">
                  <div class="image">
                    <img src="{{ config.ASSETS_ROOT }}/img/testimonial/tes2-img2.png" alt="">
                  </div>
                  <div class="headding">
                    <h5><a href="#">Pat Cummins</a></h5>
                    <p>Ceo Biosynthesis</p>
                  </div>
                </div>
                <div class="logo">
                  <img src="{{ config.ASSETS_ROOT }}/img/logo/tes2-logo2.png" alt="">
                </div>
              </div>
            </div>


            <div class="single-slider">
              <ul class="stars">
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
              </ul>

              <div class="icon">
                <img src="{{ config.ASSETS_ROOT }}/img/icons/tes2-icon.png" alt="">
              </div>

              <p>I can't imagine managing our email campaigns a without eSoft. The simplicity of creating visually
                stunning emails combined with powerful automation tools has been a game-changer for our marketing team.
                Our engagement rates have soared.</p>

              <div class="single-slider-bottom">
                <div class="headdding-area">
                  <div class="image">
                    <img src="{{ config.ASSETS_ROOT }}/img/testimonial/tes2-img1.png" alt="">
                  </div>
                  <div class="headding">
                    <h5><a href="#">Pat Cummins</a></h5>
                    <p>Ceo Biosynthesis</p>
                  </div>
                </div>
                <div class="logo">
                  <img src="{{ config.ASSETS_ROOT }}/img/logo/tes2-logo1.png" alt="">
                </div>
              </div>
            </div>


            <div class="single-slider">
              <ul class="stars">
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
              </ul>

              <div class="icon">
                <img src="{{ config.ASSETS_ROOT }}/img/icons/tes2-icon.png" alt="">
              </div>

              <p>I can't imagine managing our email campaigns a without eSoft. The simplicity of creating visually
                stunning emails combined with powerful automation tools has been a game-changer for our marketing team.
                Our engagement rates have soared.</p>

              <div class="single-slider-bottom">
                <div class="headdding-area">
                  <div class="image">
                    <img src="{{ config.ASSETS_ROOT }}/img/testimonial/tes2-img2.png" alt="">
                  </div>
                  <div class="headding">
                    <h5><a href="#">Pat Cummins</a></h5>
                    <p>Ceo Biosynthesis</p>
                  </div>
                </div>
                <div class="logo">
                  <img src="{{ config.ASSETS_ROOT }}/img/logo/tes2-logo2.png" alt="">
                </div>
              </div>
            </div>


          </div>


        </div>
      </div>
    </div>

    <img class="tes2-shape" src="{{ config.ASSETS_ROOT }}/img/shapes/footer2-shape2.png" alt="">
  </div>

  <!--===== TES AREA END =======-->

</div>
<!--===== BLOG AREA START =======-->

<div class="blog2 sp">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 m-auto text-center">
        <div class="headding2 pbmit-heading-subheading animation-style2">
          <span class="span">Our Blog</span>
          <h2 class="pbmit-title">Our Latest Blog & News</h2>
        </div>
      </div>
    </div>

    <div class="space30"></div>
    <div class="row">
      <div class="col-lg-6">
        <div class="blog-box" data-aos="zoom-in-up" data-aos-duration="800">
          <div class="image">
            <img src="{{ config.ASSETS_ROOT }}/img/blog/blog2-img1.png" alt="">
          </div>
          <div class="headding">
            <div class="tags">
              <a href="#"><img src="{{ config.ASSETS_ROOT }}/img/icons/blog2-icon1.png" alt=""> 10 October 2023</a>
              <a href="#"><img src="{{ config.ASSETS_ROOT }}/img/icons/blog2-icon2.png" alt=""> Rabby Mahmud</a>
            </div>
            <h4><a href="/blog-details">The Ultimate Email Campaign
              Playbook</a></h4>
            <p>Effortlessly design stunning emails, automate your market workflow, & precisely target your audience for
              maximum.</p>
            <a href="/blog-details" class="learn">Read more <span><i
              class="fa-regular fa-arrow-right"></i></span></a>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="blog-box" data-aos="zoom-in-up" data-aos-duration="1000">
          <div class="image">
            <img src="{{ config.ASSETS_ROOT }}/img/blog/blog2-img2.png" alt="">
          </div>
          <div class="headding">
            <div class="tags">
              <a href="#"><img src="{{ config.ASSETS_ROOT }}/img/icons/blog2-icon1.png" alt=""> 10 October 2023</a>
              <a href="#"><img src="{{ config.ASSETS_ROOT }}/img/icons/blog2-icon2.png" alt=""> Rabby Mahmud</a>
            </div>
            <h4><a href="/blog-details">Email Design: A Deep Dive in
              Visual Impact</a></h4>
            <p>Effortlessly design stunning emails, automate your market workflow, & precisely target your audience for
              maximum.</p>
            <a href="/blog-details" class="learn">Read more <span><i
              class="fa-regular fa-arrow-right"></i></span></a>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<!--===== BLOG AREA END =======-->

{% include 'partials/cta.html' %}
{% include 'partials/footer.html' %}

{% include 'partials/back-to-top.html' %}
{% endblock content %}


