{% extends 'layouts/base.html' %}

{% block title %}Password Manager Website{% endblock title %}

{% block icon %}
<link rel="shortcut icon" href="{{ config.ASSETS_ROOT }}/img/logo/title5.png" type="image/x-icon">
{% endblock icon %}

{% block body_attribute %}class="body"{% endblock body_attribute %}

{% block content %}

<!--=====HEADER START=======-->
<header>
  <div class="header-area header-area8 header-area-all d-none d-lg-block" id="header">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="header-elements">
            <div class="site-logo home1-site-logo">
              <a href="/index"
              ><img src="{{ config.ASSETS_ROOT }}/img/logo/header-logo8.png" alt="">
              </a>
            </div>


            <div class="main-menu-ex main-menu-ex1">
              <ul id="list-example">

                <li><a href="#">Home <i class="fa-solid fa-angle-down"></i></a>
                  <div class="tp-submenu">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="all-images-menu">
                          <div class="homemenu-thumb">
                            <div class="img1">
                              <img src="{{ config.ASSETS_ROOT }}/img/demo/demo1.jpg" alt="">
                            </div>
                            <div class="homemenu-btn">
                              <a class="header-btn1" href="/index">Multi
                                Page <i class="fa-solid fa-arrow-right"></i></a>
                              <div class="space16"></div>
                              <a class="header-btn1"
                                 href="/single-index1" target="_blank">One
                                page <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                            <a href="/index" class="bottom-heading">01.
                              Web Page Builder</a>
                          </div>

                          <div class="homemenu-thumb">
                            <div class="img1">
                              <img src="{{ config.ASSETS_ROOT }}/img/demo/demo2.jpg" alt="">
                            </div>
                            <div class="homemenu-btn">
                              <a class="header-btn1" href="/index2">Multi
                                Page <i class="fa-solid fa-arrow-right"></i></a>
                              <div class="space16"></div>
                              <a class="header-btn1"
                                 href="/single-index2" target="_blank">One
                                page <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                            <a href="/index2" class="bottom-heading">02.
                              Time Tracker</a>
                          </div>


                          <div class="homemenu-thumb">
                            <div class="img1">
                              <img src="{{ config.ASSETS_ROOT }}/img/demo/demo3.jpg" alt="">
                            </div>
                            <div class="homemenu-btn">
                              <a class="header-btn1" href="/index3">Multi
                                Page <i class="fa-solid fa-arrow-right"></i></a>
                              <div class="space16"></div>
                              <a class="header-btn1"
                                 href="/single-index3" target="_blank">One
                                page <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                            <a href="/index3" class="bottom-heading">03.
                              POS Software</a>
                          </div>

                          <div class="homemenu-thumb">
                            <div class="img1">
                              <img src="{{ config.ASSETS_ROOT }}/img/demo/demo4.jpg" alt="">
                            </div>
                            <div class="homemenu-btn">
                              <a class="header-btn1" href="/index4">Multi
                                Page <i class="fa-solid fa-arrow-right"></i></a>
                              <div class="space16"></div>
                              <a class="header-btn1"
                                 href="/single-index4" target="_blank">One
                                page <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                            <a href="/index4" class="bottom-heading">04.
                              Password Manager</a>
                          </div>

                          <div class="homemenu-thumb" style="margin: 0 0 20px 0;">
                            <div class="img1">
                              <img src="{{ config.ASSETS_ROOT }}/img/demo/demo5.jpg" alt="">
                            </div>
                            <div class="homemenu-btn">
                              <a class="header-btn1" href="/index5">Multi
                                Page <i class="fa-solid fa-arrow-right"></i></a>
                              <div class="space16"></div>
                              <a class="header-btn1"
                                 href="/single-index5" target="_blank">One
                                page <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                            <a href="/index5" class="bottom-heading">05.
                              HR Software</a>
                          </div>
                        </div>

                        <div class="all-images-menu">
                          <div class="homemenu-thumb">
                            <div class="img1">
                              <img src="{{ config.ASSETS_ROOT }}/img/demo/demo6.jpg" alt="">
                            </div>
                            <div class="homemenu-btn">
                              <a class="header-btn1" href="/index6">Multi
                                Page <i class="fa-solid fa-arrow-right"></i></a>
                              <div class="space16"></div>
                              <a class="header-btn1"
                                 href="/single-index6" target="_blank">One
                                page <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                            <a href="/index6" class="bottom-heading">06.
                              Email Marketing</a>
                          </div>

                          <div class="homemenu-thumb">
                            <div class="img1">
                              <img src="{{ config.ASSETS_ROOT }}/img/demo/demo7.jpg" alt="">
                            </div>
                            <div class="homemenu-btn">
                              <a class="header-btn1" href="/index7">Multi
                                Page <i class="fa-solid fa-arrow-right"></i></a>
                              <div class="space16"></div>
                              <a class="header-btn1"
                                 href="/single-index7" target="_blank">One
                                page <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                            <a href="/index7" class="bottom-heading">7.
                              Project Management</a>
                          </div>


                          <div class="homemenu-thumb">
                            <div class="img1">
                              <img src="{{ config.ASSETS_ROOT }}/img/demo/demo8.jpg" alt="">
                            </div>
                            <div class="homemenu-btn">
                              <a class="header-btn1" href="/index8">Multi
                                Page <i class="fa-solid fa-arrow-right"></i></a>
                              <div class="space16"></div>
                              <a class="header-btn1"
                                 href="/single-index8" target="_blank">One
                                page <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                            <a href="/index8" class="bottom-heading">08.
                              SEO Software</a>
                          </div>

                          <div class="homemenu-thumb">
                            <div class="img1">
                              <img src="{{ config.ASSETS_ROOT }}/img/demo/demo9.jpg" alt="">
                            </div>
                            <div class="homemenu-btn">
                              <a class="header-btn1" href="/index9">Multi
                                Page <i class="fa-solid fa-arrow-right"></i></a>
                              <div class="space16"></div>
                              <a class="header-btn1"
                                 href="/single-index9" target="_blank">One
                                page <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                            <a href="/index9" class="bottom-heading">09.
                              Social Media</a>
                          </div>

                          <div class="homemenu-thumb" style="margin: 0 0 20px 0;">
                            <div class="img1">
                              <img src="{{ config.ASSETS_ROOT }}/img/demo/rtl.png" alt="">
                            </div>
                            <div class="text">
                              <h2>RTL</h2>
                            </div>
                            <div class="homemenu-btn">
                              <a class="header-btn1" href="/rtl">Multi
                                Page <i class="fa-solid fa-arrow-right"></i></a>
                              <div class="space16"></div>
                              <a class="header-btn1" href="/single-rtl"
                                 target="_blank">One page <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                            <a href="/rtl" class="bottom-heading">10. RTL
                              Version</a>
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>
                </li>


                <li><a class="list-group-item list-group-item-action" href="#work">Work</a></li>
                <li><a class="list-group-item list-group-item-action" href="#apps">Apps</a></li>
                <li><a class="list-group-item list-group-item-action" href="#autofill">Autofill</a></li>
                <li><a class="list-group-item list-group-item-action" href="#pricing">Pricing</a></li>
                <li><a class="list-group-item list-group-item-action" href="#blog">Blog</a></li>
              </ul>
            </div>

            <div class="header-buttons">
              <a href="/login" class="theme-btn12">Log In</a>
              <a href="#" class="theme-btn11">Get quip free now</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--=====HEADER END=======-->


<!--=====Mobile header start=======-->
<div class="mobile-header mobile-header3 d-block d-lg-none ">
  <div class="container-fluid">
    <div class="col-12">
      <div class="mobile-header-elements">
        <div class="mobile-logo">
          <a href="/index1"><img
            src="{{ config.ASSETS_ROOT }}/img/logo/header-logo8.png" alt=""></a>
        </div>
        <div class="mobile-nav-icon">
          <i class="fa-duotone fa-bars-staggered"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mobile-sidebar mobile-sidebar4 d-block d-lg-none">
  <div class="logo-m">
    <a href="/index"><img src="{{ config.ASSETS_ROOT }}/img/logo/header-logo1.png"
                                                                         alt=""></a>
  </div>
  <div class="menu-close">
    <i class="fa-solid fa-xmark"></i>
  </div>
  <div class="mobile-nav">

    <ul>
      <li class="has-dropdown"><a href="#">Home </a>
        <ul class="sub-menu">
          <li class="has-dropdown has-dropdown1"><a href="/index4">Multipage</a>
            <ul class="sub-menu">
              <li><a href="/index">Home 1</a></li>
              <li><a href="/index2">Home 2</a></li>
              <li><a href="/index3">Home 3</a></li>
              <li><a href="/index4">Home 4</a></li>
              <li><a href="/index5">Home 5</a></li>
              <li><a href="/index6">Home 6</a></li>
              <li><a href="/index7">Home 7</a></li>
              <li><a href="/index8">Home 8</a></li>
              <li><a href="/index9">Home 9</a></li>
              <li><a href="/rtl">RTL</a></li>
            </ul>
          </li>
          <li class="has-dropdown has-dropdown1"><a href="/index4">Landing
            Page</a>
            <ul class="sub-menu">
              <li><a href="/single-index1">Home 1</a></li>
              <li><a href="/single-index2">Home 2</a></li>
              <li><a href="/single-index3">Home 3</a></li>
              <li><a href="/single-index4">Home 4 </a></li>
              <li><a href="/single-index5">Home 5 </a></li>
              <li><a href="/single-index6">Home 6 </a></li>
              <li><a href="/single-index7">Home 7 </a></li>
              <li><a href="/single-index8">Home 8 </a></li>
              <li><a href="/single-index9">Home 9 </a></li>
              <li><a href="/single-rtl">RTL </a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="/about">About Us</a></li>
      <li class="has-dropdown"><a href="#">Pages</a>
        <ul class="sub-menu">
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="/features">Features</a></li>
          <li><a href="/testimonial">Testimonial</a></li>
          <li><a href="/pricing">Pricing</a></li>
          <li><a href="/download">Download</a></li>
          <li><a href="/error">404</a></li>
        </ul>
      </li>

      <li class="has-dropdown"><a href="#">Blog</a>
        <ul class="sub-menu">
          <li><a href="/blog">Blog</a></li>
          <li><a href="/blog-details-sidebar-left">Details Left</a></li>
          <li><a href="/blog-details-sidebar-right">Details Right</a>
          </li>
          <li><a href="/blog-details">Blog Details</a></li>
        </ul>
      </li>

      <li class="has-dropdown"><a href="#">Account</a>
        <ul class="sub-menu">
          <li><a href="/account">Create Account</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/forgot">Forgot</a></li>
          <li><a href="/reset">Reset</a></li>
          <li><a href="/verify">Verify Email</a></li>
          <li><a href="/form-success">Success</a></li>
        </ul>
      </li>

    </ul>

    <a class="sidebar1-btn"
       href="/contact"><span>Book a Consultation</span> <span
      class="arrow"><i class="fa-regular fa-arrow-right"></i></span> </a>

    <div class="contact-infos">
      <h3>Contact Info</h3>
      <div class="box">
        <div class="icon">
          <span><i class="fa-regular fa-phone"></i></span>
        </div>
        <div class="pera">
          <a href="tel:921-888-0022">921-888-0022</a>
        </div>
      </div>
      <div class="box">
        <div class="icon">
          <span><i class="fa-regular fa-envelope"></i></span>
        </div>
        <div class="pera">
          <a href="mailto:example@visafast.com">example@visafast.com</a>
        </div>
      </div>
    </div>
    <div class="contact-infos">
      <h3>Our Location</h3>
      <div class="box">
        <div class="icon">
          <span><i class="fa-regular fa-location-dot"></i></span>
        </div>
        <div class="pera">
          <a href="#">55 East Birchwood Ave.Brooklyn, <br>
            New York 11201,United States</a>
        </div>
      </div>
    </div>

    <div class="contact-infos">
      <h3>Our Location</h3>
      <ul class="icon-list">
        <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
      </ul>
    </div>

  </div>
</div>

<!--=====Mobile header end=======-->

<!--===== HERO AREA START =======-->
<div class="hero-area8">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <div class="main-heading">
          <span class="span" data-aos="zoom-in-left" data-aos-duration="700"><img
            src="{{ config.ASSETS_ROOT }}/img/logo/main-span8.png" alt=""> Top Choice For 5,800+ Websites Worldwide</span>
          <h1 class="text-anime-style-3">Password Manager Trusted By Millions</h1>
          <div class="space16"></div>
          <p data-aos="fade-left" data-aos-duration="800">Protect more than your passwords with intuitive credential
            management for your whole organization. Set, forget, and trust eSoft to secure your people data against
            breaches.</p>
          <div class="space30"></div>
          <div class="buttons" data-aos="fade-left" data-aos-duration="900">
            <a href="#" class="theme-btn11">Manage Your Password</a>
            <a href="#" class="theme-btn12">Try For free</a>
          </div>
        </div>
      </div>

      <div class="col-lg-7">
        <div class="main-images">
          <div class="image2" data-aos="zoom-out" data-aos-duration="800">
            <img src="{{ config.ASSETS_ROOT }}/img/hero/hero8-main-image.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="image1">
    <img src="{{ config.ASSETS_ROOT }}/img/bg/hero8-bg-shape.png" alt="">
  </div>
</div>
<!--===== HERO AREA END =======-->

<div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example" tabindex="0">

  <!--===== WORKS AREA START =======-->

  <div class="works8 sp" id="work">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 m-auto text-center">
          <div class="heading8">
            <span class="span" data-aos="zoom-in-left" data-aos-duration="700"><img
              src="{{ config.ASSETS_ROOT }}/img/logo/main-span8.png" alt=""> <span class="text">How It Works</span></span>
            <h2 class="text-anime-style-3">Process Of Password Save</h2>
          </div>
        </div>
      </div>
      <div class="space30"></div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="works-box" data-aos="zoom-in-up" data-aos-duration="700">
            <div class="icon">
              <img src="{{ config.ASSETS_ROOT }}/img/icons/work7-icon3.svg" alt="">
            </div>
            <div class="space16"></div>
            <div class="heading7">
              <h5><a href="#">Quick Registration</a></h5>
              <div class="space16"></div>
              <p>Sign up and get started immediately with our straightforward application</p>
            </div>
            <img src="{{ config.ASSETS_ROOT }}/img/shapes/work7-box-shape.png" alt="" class="shape1">
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="works-box" data-aos="zoom-in-up" data-aos-duration="900">
            <div class="icon">
              <img src="{{ config.ASSETS_ROOT }}/img/icons/work7-icon2.svg" alt="">
            </div>
            <div class="space16"></div>
            <div class="heading7">
              <h5><a href="#">Set Up Your Store</a></h5>
              <div class="space16"></div>
              <p>Get help every step of the way, from dedicated customer service to POS.</p>
            </div>
            <img src="{{ config.ASSETS_ROOT }}/img/shapes/work7-box-shape.png" alt="" class="shape2">
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="works-box" data-aos="zoom-in-up" data-aos-duration="1100">
            <div class="icon">
              <img src="{{ config.ASSETS_ROOT }}/img/icons/work7-icon1.svg" alt="">
            </div>
            <div class="space16"></div>
            <div class="heading7">
              <h5><a href="#">Customize your solution</a></h5>
              <div class="space16"></div>
              <p>Personalize your POS with apps and create custom solution into with eSoft. </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!--===== WORKS AREA END =======-->

  <!--===== Secure Apps AREA END =======-->

  <div class="apps8" id="apps">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8">
          <div class="images-all">
            <div class="image1">
              <img src="{{ config.ASSETS_ROOT }}/img/bg/apps8-bg-shape.png" alt="">
            </div>
            <div class="image2">
              <img src="{{ config.ASSETS_ROOT }}/img/others/apps8.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="heading8">
            <span class="span" data-aos="zoom-in-left" data-aos-duration="700"><img
              src="{{ config.ASSETS_ROOT }}/img/logo/main-span8.png" alt=""> <span class="text">Secure Apps</span></span>
            <h2 class="text-anime-style-3">Secure, Store, and Access with Ease</h2>
            <div class="space16"></div>
            <p data-aos="fade-left" data-aos-duration="700">Managing your passwords shouldn't be a hassle. Our password
              manager simplifies your online experience by securely storing an autofilling your passwords, so you never
              have to remember or reset them again. With advance encryption intuitive desig digital life.</p>
            <div class="space30"></div>
            <div class="" data-aos="fade-left" data-aos-duration="900">
              <a href="#" class="theme-btn11">try for free Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--===== Secure Apps AREA END =======-->

  <!--=====  COMPANI AREA START =======-->

  <div class="compani8 sp">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4">
          <div class="heading8">
            <span class="span" data-aos="zoom-in-left" data-aos-duration="700"><img
              src="{{ config.ASSETS_ROOT }}/img/logo/main-span8.png" alt=""> <span class="text">eSoft- Password Management Companies</span></span>
            <h2 class="text-anime-style-3">Ultimate Of Security for Your Digital Life</h2>
            <div class="space16"></div>
            <p data-aos="fade-right" data-aos-duration="900">Don’t leave your online security to chance. Our
              state-of-the-art password manager offers unparalleled protection for your digital life, ensuring that your
              passwords are have always safe and easily accessible. With features designed for both simplicity and
              security, can effortlessly manage.</p>
            <div class="space30"></div>
            <div class="" data-aos="fade-right" data-aos-duration="1100">
              <a href="#" class="theme-btn11">try for free now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="images-all">
            <div class="image1">
              <img src="{{ config.ASSETS_ROOT }}/img/bg/apps8-bg-shape.png" alt="">
            </div>
            <div class="image2">
              <img src="{{ config.ASSETS_ROOT }}/img/others/compani8-img.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--===== COMPANI AREA END =======-->

  <!--===== AUTOFILL AREA END =======-->

  <div class="autofill" id="autofill">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7">
          <div class="images-all">
            <div class="image1">
              <img src="{{ config.ASSETS_ROOT }}/img/bg/apps8-bg-shape.png" alt="">
            </div>
            <div class="image2">
              <img src="{{ config.ASSETS_ROOT }}/img/others/autofill-img.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="heading8">
            <span class="span" data-aos="zoom-in-left" data-aos-duration="700"><img
              src="{{ config.ASSETS_ROOT }}/img/logo/main-span8.png" alt=""> <span
              class="text">Autofill Your Password</span></span>
            <h2 class="text-anime-style-3">Autofill Your Password</h2>
            <div class="space16"></div>
            <p data-aos="fade-left" data-aos-duration="700">Managing your passwords shouldn't be a hassle. Our password
              manager simplifies your online experience by securely storing an autofilling your passwords, so you never
              have to remember or reset them again. With advance intuitive best digital life.</p>
            <div class="space30"></div>
            <div class="" data-aos="fade-left" data-aos-duration="900">
              <a href="#" class="theme-btn11">try for free now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--===== AUTOFILL AREA END =======-->

  <!--===== TESTIMONIAL AREA START =======-->

  <div class="testimonial8 sp" id="tes">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 m-auto text-center">
          <div class="heading8">
            <span class="span" data-aos="zoom-in-left" data-aos-duration="700"><img
              src="{{ config.ASSETS_ROOT }}/img/logo/main-span8.png" alt=""> <span class="text">Our Testimonials</span></span>
            <h2 class="text-anime-style-3">Our Satisfied Client Says</h2>
          </div>
        </div>
      </div>
      <div class="space60"></div>
      <div class="row align-items-center">
        <div class="col-lg-5">
          <div class="main-image" data-aos="fade-up" data-aos-duration="700">
            <img src="{{ config.ASSETS_ROOT }}/img/testimonial/tes8-main-image.png" alt="">
          </div>
        </div>

        <div class="col-lg-7">

          <div class="testimonial7-all" data-aos="fade-up" data-aos-duration="900">
            <div class="tes7-slider">

              <div class="swiper-slide">
                <div class="testimonials-box-2">
                  <div class="star">
                    <ul>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                    </ul>
                  </div>
                  <p class="text">
                    "We've integrated the POS software with our online store, and it's made managing both so much
                    easier. The synchronization between our physical and online inventory is seamless, & the centralized
                    data helps”
                  </p>
                  <div class="bottom">
                    <div class="info">
                      <div class="content">
                        <h6 class="name"><a href="#">Thomas Muller</a></h6>
                        <p class="position">Amazon Market</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="testimonials-box-2">
                  <div class="star">
                    <ul>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                    </ul>
                  </div>
                  <p class="text">
                    "We've integrated the POS software with our online store, and it's made managing both so much
                    easier. The synchronization between our physical and online inventory is seamless, & the centralized
                    data helps”
                  </p>
                  <div class="bottom">
                    <div class="info">
                      <div class="content">
                        <h6 class="name"><a href="#">Thomas Muller</a></h6>
                        <p class="position">Amazon Market</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="pagination-buttons">
              <div class="testimonial7-prev-arrow">
                <button><i class="fa-solid fa-angle-up"></i></button>
              </div>
              <div class="testimonial7-next-arrow">
                <button><i class="fa-solid fa-angle-down"></i></button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!--===== TESTIMONIAL AREA END =======-->

  <!--===== PRICING AREA START =======-->

  <div class="pricing8 sp" id="pricing">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 m-auto text-center">
          <div class="heading8">
            <span class="span" data-aos="zoom-in-left" data-aos-duration="700"><img
              src="{{ config.ASSETS_ROOT }}/img/logo/main-span8.png" alt=""> <span class="text">Our Blog</span></span>
            <h2 class="text-anime-style-3">Choose The Plan That Best Suits Your Needs</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="pricing-box" data-aos="fade-up" data-aos-duration="1100">
            <p class="class">Free</p>
            <p class="pera">Reliable, secure and intuitive password management for 1 type of all device.</p>
            <h2 class="price">$0 <span>/ All Time Free</span></h2>
            <a href="#" class="theme-btn11">try for free now</a>

            <div class="pricing-list">
              <ul>
                <li><span class="check"><i class="fa-solid fa-check"></i></span> No Password Limit</li>
                <li><span class="check"><i class="fa-solid fa-check"></i></span> Password Generator</li>
                <li><span class="check"><i class="fa-solid fa-check"></i></span> One (1) User Account</li>
                <li><span class="check"><i class="fa-solid fa-check"></i></span> Access 1 Type Devices</li>
                <li><span class="check"><i class="fa-solid fa-check"></i></span> Sharing With 1 Person</li>
                <li><span class="check"><i class="fa-solid fa-check"></i></span> Save & Autofill Password</li>
                <li><span class="check"><i class="fa-solid fa-check"></i></span> Login Within Password</li>
                <li><span class="check"><i class="fa-solid fa-check"></i></span> Strong Security Panel</li>
                <li><span class="check"><i class="fa-solid fa-check"></i></span> Dark Web Monitoring</li>
                <li><span class="check2"><i class="fa-solid fa-xmark"></i></span> 1 Premium Account</li>
                <li><span class="check2"><i class="fa-solid fa-xmark"></i></span> 1 GB File Storages</li>
                <li><span class="check2"><i class="fa-solid fa-xmark"></i></span> Sharing Multiple People</li>
                <li><span class="check2"><i class="fa-solid fa-xmark"></i></span> Access Of All Devices</li>
                <li><span class="check2"><i class="fa-solid fa-xmark"></i></span> All Type Emergency Access</li>
                <li><span class="check2"><i class="fa-solid fa-xmark"></i></span> Grouping & Sharing Folders</li>
                <li><span class="check2"><i class="fa-solid fa-xmark"></i></span> User Management Security</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="pricing-box" data-aos="fade-up" data-aos-duration="900">
            <p class="class">Premium</p>
            <p class="pera">Advanced password management and enhanced security from all your devices.</p>
            <h2 class="price">$2.40 <span>/ For 1 Month</span></h2>
            <a href="#" class="theme-btn11">Start your 30-Days trial</a>

            <div class="pricing-list">
              <ul>
                <li><span class="check"><i class="fa-solid fa-check"></i></span> No Password Limit</li>
                <li><span class="check"><i class="fa-solid fa-check"></i></span> Password Generator</li>
                <li><span class="check"><i class="fa-solid fa-check"></i></span> One (1) User Account</li>
                <li><span class="check"><i class="fa-solid fa-check"></i></span> Access 1 Type Devices</li>
                <li><span class="check"><i class="fa-solid fa-check"></i></span> Sharing With 1 Person</li>
                <li><span class="check"><i class="fa-solid fa-check"></i></span> Save & Autofill Password</li>
                <li><span class="check"><i class="fa-solid fa-check"></i></span> Login Within Password</li>
                <li><span class="check"><i class="fa-solid fa-check"></i></span> Strong Security Panel</li>
                <li><span class="check"><i class="fa-solid fa-check"></i></span> Dark Web Monitoring</li>
                <li><span class="check2"><i class="fa-solid fa-check"></i></span> 1 Premium Account</li>
                <li><span class="check2"><i class="fa-solid fa-check"></i></span> 1 GB File Storages</li>
                <li><span class="check2"><i class="fa-solid fa-check"></i></span> Sharing Multiple People</li>
                <li><span class="check2"><i class="fa-solid fa-xmark"></i></span> Access Of All Devices</li>
                <li><span class="check2"><i class="fa-solid fa-xmark"></i></span> All Type Emergency Access</li>
                <li><span class="check2"><i class="fa-solid fa-xmark"></i></span> Grouping & Sharing Folders</li>
                <li><span class="check2"><i class="fa-solid fa-xmark"></i></span> User Management Security</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="pricing-box" data-aos="fade-up" data-aos-duration="700">
            <p class="class">business</p>
            <p class="pera">Secure password management for up to 6 users easy, unlimited password sharing.</p>
            <h2 class="price">$6.99 <span>/ For 1 Yearly</span></h2>
            <a href="#" class="theme-btn11">Start your 30-Days trial</a>

            <div class="pricing-list">
              <ul>
                <li><span class="check"><i class="fa-solid fa-check"></i></span> No Password Limit</li>
                <li><span class="check"><i class="fa-solid fa-check"></i></span> Password Generator</li>
                <li><span class="check"><i class="fa-solid fa-check"></i></span> One (1) User Account</li>
                <li><span class="check"><i class="fa-solid fa-check"></i></span> Access 1 Type Devices</li>
                <li><span class="check"><i class="fa-solid fa-check"></i></span> Sharing With 1 Person</li>
                <li><span class="check"><i class="fa-solid fa-check"></i></span> Save & Autofill Password</li>
                <li><span class="check"><i class="fa-solid fa-check"></i></span> Login Within Password</li>
                <li><span class="check"><i class="fa-solid fa-check"></i></span> Strong Security Panel</li>
                <li><span class="check"><i class="fa-solid fa-check"></i></span> Dark Web Monitoring</li>
                <li><span class="check2"><i class="fa-solid fa-check"></i></span> 1 Premium Account</li>
                <li><span class="check2"><i class="fa-solid fa-check"></i></span> 1 GB File Storages</li>
                <li><span class="check2"><i class="fa-solid fa-check"></i></span> Sharing Multiple People</li>
                <li><span class="check2"><i class="fa-solid fa-check"></i></span> Access Of All Devices</li>
                <li><span class="check2"><i class="fa-solid fa-check"></i></span> All Type Emergency Access</li>
                <li><span class="check2"><i class="fa-solid fa-check"></i></span> Grouping & Sharing Folders</li>
                <li><span class="check2"><i class="fa-solid fa-check"></i></span> User Management Security</li>
              </ul>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <!--===== PRICING AREA END =======-->

  <!--===== BLOG AREA START =======-->

  <div class="blog8 sp" id="blog">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 m-auto text-center">
          <div class="heading8">
            <span class="span" data-aos="zoom-in-left" data-aos-duration="700"><img
              src="{{ config.ASSETS_ROOT }}/img/logo/main-span8.png" alt=""> <span class="text">Our Blog</span></span>
            <h2 class="text-anime-style-3">eSoft Pass Latest News</h2>
          </div>
        </div>
      </div>

      <div class="space30"></div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="blog-box" data-aos="zoom-in-up" data-aos-duration="700">
            <div class="image">
              <img src="{{ config.ASSETS_ROOT }}/img/blog/blog8-img1.png" alt="">
            </div>
            <div class="heading">
              <span class="title">Secure password</span>
              <h4><a href="/blog-details">10 Tips for Creating Strong,
                Unbreakable Passwords.</a></h4>
              <a href="/blog-details" class="learn">Read case study</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="blog-box" data-aos="zoom-in-up" data-aos-duration="900">
            <div class="image">
              <img src="{{ config.ASSETS_ROOT }}/img/blog/blog8-img2.png" alt="">
            </div>
            <div class="heading">
              <span class="title">data protection</span>
              <h4><a href="/blog-details">Protecting Your Data from
                Breaches: Best Practices.</a></h4>
              <a href="/blog-details" class="learn">Read case study</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="blog-box" data-aos="zoom-in-up" data-aos-duration="1100">
            <div class="image">
              <img src="{{ config.ASSETS_ROOT }}/img/blog/blog8-img3.png" alt="">
            </div>
            <div class="heading">
              <span class="title">Cyber threats</span>
              <h4><a href="/blog-details">How to Recognize and Avoid
                Password Phishing Scams.</a></h4>
              <a href="/blog-details" class="learn">Read case study</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== BLOG AREA END =======-->

</div>

<!--===== CTA AREA START =======-->
<div class="cta8">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 m-auto text-center">
        <div class="heading8-w">
          <h2 class="text-anime-style-3">Protect Your Digital World Try Our Password Manager Now!</h2>
          <div class="space16"></div>
          <p data-aos="fade-up" data-aos-duration="800">In today’s digital age, keeping your online accounts safe is
            more crucial than ever. <br> Our password manager offers and solution safeguard your sensitive information.
          </p>

          <div class="space30"></div>
          <div class="buttons" data-aos="fade-up" data-aos-duration="1000">
            <a href="/account" class="theme-btn13"><span class="text">Get Started Now</span></a>
            <a href="/account" class="theme-btn14">try for free now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--===== CTA AREA END =======-->

<!--===== FOOTER AREA START =======-->
<div class="footer8 _relative">
  <div class="container">
    <div class="rwo">
      <div class="footer-icon-box-all">
        <div class="footer-icon-box">
          <div class="icon">
            <img src="{{ config.ASSETS_ROOT }}/img/icons/footer-icon1.png" alt="">
          </div>
          <div class="headding">
            <p>Free training & 24-hours</p>
          </div>
        </div>

        <div class="footer-icon-box">
          <div class="icon">
            <img src="{{ config.ASSETS_ROOT }}/img/icons/footer-icon2.png" alt="">
          </div>
          <div class="headding">
            <p>Serious about security & privacy</p>
          </div>
        </div>

        <div class="footer-icon-box">
          <div class="icon">
            <img src="{{ config.ASSETS_ROOT }}/img/icons/footer-icon3.png" alt="">
          </div>
          <div class="headding">
            <p>Highest levels of uptime the last 12 months</p>
          </div>
        </div>

      </div>
    </div>

    <div class="space50"></div>
    <div class="row">

      <div class="col-lg col-md-6 col-12">
        <div class="single-footer-items">
          <h3>Product</h3>
          <ul class="menu-list">
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Integration</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Templates</a></li>
            <li><a href="#">Changelog</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg col-md-6 col-12">
        <div class="single-footer-items">
          <h3>Support</h3>

          <ul class="menu-list">
            <li><a href="#">On-boarding</a></li>
            <li><a href="#">Help center</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Experts</a></li>
            <li><a href="#">Status</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg col-md-6 col-12">
        <div class="single-footer-items">
          <h3>Resources</h3>

          <ul class="menu-list">
            <li><a href="#">Community</a></li>
            <li><a href="#">Affiliates</a></li>
            <li><a href="#">Partnerships</a></li>
            <li><a href="#">Perks & Benefits</a></li>
            <li><a href="#">Api docs</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg col-md-6 col-12">
        <div class="single-footer-items">
          <h3>Company</h3>

          <ul class="menu-list">
            <li><a href="#">About</a></li>
            <li><a href="#">Our blog</a></li>
            <li><a href="#">In the press</a></li>
            <li><a href="#">Brand assets</a></li>
            <li><a href="#">Work with us</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg col-md-6 col-12">
        <div class="single-footer-items">
          <h3>Download</h3>

          <ul class="menu-list">
            <li><a href="#">iPhone & iPad</a></li>
            <li><a href="#">Android</a></li>
            <li><a href="#">MacOS</a></li>
            <li><a href="#">Window</a></li>
          </ul>
        </div>
      </div>


      <div class="col-lg-3 col-md-6 col-12">
        <div class="single-footer-items">
          <h3>Product</h3>

          <ul class="social-icons">
            <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          </ul>

        </div>
      </div>

    </div>

    <div class="space40"></div>

    <div class="copyright-area">
      <div class="row align-items-center">
        <div class="col-md-5">
          <div class="logo">
            <a href="/index"><img
              src="{{ config.ASSETS_ROOT }}/img/logo/header-logo8.png" alt=""></a>
          </div>
        </div>
        <div class="col-md-7">
          <div class="coppyright text-right">
            <a href="#">@2024 eSoft</a>
            <a href="#">Security</a>
            <a href="#">Your Privacy</a>
            <a href="#">Terms</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!--===== FOOTER AREA END =======-->

{% include 'partials/back-to-top.html' %}
{% endblock content %}

