{% extends 'layouts/landing-layout.html' %}

{% block title %}Testimonial{% endblock title %}

{% block icon %}
<link rel="shortcut icon" href="{{ config.ASSETS_ROOT }}/img/logo/titel1.png" type="image/x-icon">
{% endblock icon %}

{% block body_attribute %}class="body2 body"{% endblock body_attribute %}

{% block page_content %}

<!--===== TESTIMONIAL PAGE AREA START =======-->
<div class="testimonial-page sp">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 m-auto text-center">
        <div class="common-main-headding">
          <h1>Client Feedback</h1>
          <p>At eSoft, we value your inquiries and are here to provide the support you need. Whether you're looking for
            more information an about our cutting.</p>
        </div>
      </div>
    </div>

    <div class="space60"></div>
    <div class="row">
      <div class="col-lg-12">
        <div class="testimonial-slider-all">
          <div class="testimonial-single-slider">
            <div class="tes1-brads-slider">
              <div class="single-logo">
                <img src="{{ config.ASSETS_ROOT }}/img/logo/tes2-slider2-logo1.png" alt="">
              </div>
              <div class="single-logo">
                <img src="{{ config.ASSETS_ROOT }}/img/logo/tes2-slider2-logo2.png" alt="">
              </div>
              <div class="single-logo">
                <img src="{{ config.ASSETS_ROOT }}/img/logo/tes2-slider2-logo3.png" alt="">
              </div>
              <div class="single-logo">
                <img src="{{ config.ASSETS_ROOT }}/img/logo/tes2-slider2-logo4.png" alt="">
              </div>
              <div class="single-logo">
                <img src="{{ config.ASSETS_ROOT }}/img/logo/tes2-slider2-logo5.png" alt="">
              </div>
              <div class="single-logo">
                <img src="{{ config.ASSETS_ROOT }}/img/logo/tes2-slider2-logo1.png" alt="">
              </div>
              <div class="single-logo">
                <img src="{{ config.ASSETS_ROOT }}/img/logo/tes2-slider2-logo2.png" alt="">
              </div>
              <div class="single-logo">
                <img src="{{ config.ASSETS_ROOT }}/img/logo/tes2-slider2-logo3.png" alt="">
              </div>
              <div class="single-logo">
                <img src="{{ config.ASSETS_ROOT }}/img/logo/tes2-slider2-logo4.png" alt="">
              </div>
              <div class="single-logo">
                <img src="{{ config.ASSETS_ROOT }}/img/logo/tes2-slider2-logo5.png" alt="">
              </div>

            </div>
            <div class="tes1-big-slider">
              <div class="single-slider">
                <div class="row">
                  <div class="col-lg-8">
                    <ul class="stars">
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                    </ul>
                    <p class="pera">“The team at eSoft not only delivered what was promised but also provided valuable
                      insights that added immense value to our project, on your needs an Based on your needs, we devise.
                      The support team is exceptional! They've been responsive and helpful at every step.”</p>

                    <div class="bottom-headding">
                      <h4><a href="#">Oliver Grioud/CEO, Lava Ltd</a></h4>
                      <p>Read More Testimonials Feedback</p>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="image">
                      <img src="{{ config.ASSETS_ROOT }}/img/testimonial/tes1-big-img.png" alt="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="single-slider">
                <div class="row">
                  <div class="col-lg-8">
                    <ul class="stars">
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                    </ul>
                    <p class="pera">“The team at eSoft not only delivered what was promised but also provided valuable
                      insights that added immense value to our project, on your needs an Based on your needs, we devise.
                      The support team is exceptional! They've been responsive and helpful at every step.”</p>

                    <div class="bottom-headding">
                      <h4><a href="#">Oliver Grioud/CEO, Lava Ltd</a></h4>
                      <p>Read More Testimonials Feedback</p>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="image">
                      <img src="{{ config.ASSETS_ROOT }}/img/testimonial/tes1-big-img.png" alt="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="single-slider">
                <div class="row">
                  <div class="col-lg-8">
                    <ul class="stars">
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                    </ul>
                    <p class="pera">“The team at eSoft not only delivered what was promised but also provided valuable
                      insights that added immense value to our project, on your needs an Based on your needs, we devise.
                      The support team is exceptional! They've been responsive and helpful at every step.”</p>

                    <div class="bottom-headding">
                      <h4><a href="#">Oliver Grioud/CEO, Lava Ltd</a></h4>
                      <p>Read More Testimonials Feedback</p>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="image">
                      <img src="{{ config.ASSETS_ROOT }}/img/testimonial/tes1-big-img.png" alt="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="single-slider">
                <div class="row">
                  <div class="col-lg-8">
                    <ul class="stars">
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                    </ul>
                    <p class="pera">“The team at eSoft not only delivered what was promised but also provided valuable
                      insights that added immense value to our project, on your needs an Based on your needs, we devise.
                      The support team is exceptional! They've been responsive and helpful at every step.”</p>

                    <div class="bottom-headding">
                      <h4><a href="#">Oliver Grioud/CEO, Lava Ltd</a></h4>
                      <p>Read More Testimonials Feedback</p>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="image">
                      <img src="{{ config.ASSETS_ROOT }}/img/testimonial/tes1-big-img.png" alt="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="single-slider">
                <div class="row">
                  <div class="col-lg-8">
                    <ul class="stars">
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                    </ul>
                    <p class="pera">“The team at eSoft not only delivered what was promised but also provided valuable
                      insights that added immense value to our project, on your needs an Based on your needs, we devise.
                      The support team is exceptional! They've been responsive and helpful at every step.”</p>

                    <div class="bottom-headding">
                      <h4><a href="#">Oliver Grioud/CEO, Lava Ltd</a></h4>
                      <p>Read More Testimonials Feedback</p>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="image">
                      <img src="{{ config.ASSETS_ROOT }}/img/testimonial/tes1-big-img.png" alt="">
                    </div>
                  </div>
                </div>
              </div>


              <div class="single-slider">
                <div class="row">
                  <div class="col-lg-8">
                    <ul class="stars">
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                    </ul>
                    <p class="pera">“The team at eSoft not only delivered what was promised but also provided valuable
                      insights that added immense value to our project, on your needs an Based on your needs, we devise.
                      The support team is exceptional! They've been responsive and helpful at every step.”</p>

                    <div class="bottom-headding">
                      <h4><a href="#">Oliver Grioud/CEO, Lava Ltd</a></h4>
                      <p>Read More Testimonials Feedback</p>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="image">
                      <img src="{{ config.ASSETS_ROOT }}/img/testimonial/tes1-big-img.png" alt="">
                    </div>
                  </div>
                </div>
              </div>


              <div class="single-slider">
                <div class="row">
                  <div class="col-lg-8">
                    <ul class="stars">
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                    </ul>
                    <p class="pera">“The team at eSoft not only delivered what was promised but also provided valuable
                      insights that added immense value to our project, on your needs an Based on your needs, we devise.
                      The support team is exceptional! They've been responsive and helpful at every step.”</p>

                    <div class="bottom-headding">
                      <h4><a href="#">Oliver Grioud/CEO, Lava Ltd</a></h4>
                      <p>Read More Testimonials Feedback</p>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="image">
                      <img src="{{ config.ASSETS_ROOT }}/img/testimonial/tes1-big-img.png" alt="">
                    </div>
                  </div>
                </div>
              </div>


              <div class="single-slider">
                <div class="row">
                  <div class="col-lg-8">
                    <ul class="stars">
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                    </ul>
                    <p class="pera">“The team at eSoft not only delivered what was promised but also provided valuable
                      insights that added immense value to our project, on your needs an Based on your needs, we devise.
                      The support team is exceptional! They've been responsive and helpful at every step.”</p>

                    <div class="bottom-headding">
                      <h4><a href="#">Oliver Grioud/CEO, Lava Ltd</a></h4>
                      <p>Read More Testimonials Feedback</p>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="image">
                      <img src="{{ config.ASSETS_ROOT }}/img/testimonial/tes1-big-img.png" alt="">
                    </div>
                  </div>
                </div>
              </div>


              <div class="single-slider">
                <div class="row">
                  <div class="col-lg-8">
                    <ul class="stars">
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                    </ul>
                    <p class="pera">“The team at eSoft not only delivered what was promised but also provided valuable
                      insights that added immense value to our project, on your needs an Based on your needs, we devise.
                      The support team is exceptional! They've been responsive and helpful at every step.”</p>

                    <div class="bottom-headding">
                      <h4><a href="#">Oliver Grioud/CEO, Lava Ltd</a></h4>
                      <p>Read More Testimonials Feedback</p>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="image">
                      <img src="{{ config.ASSETS_ROOT }}/img/testimonial/tes1-big-img.png" alt="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="single-slider">
                <div class="row">
                  <div class="col-lg-8">
                    <ul class="stars">
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                    </ul>
                    <p class="pera">“The team at eSoft not only delivered what was promised but also provided valuable
                      insights that added immense value to our project, on your needs an Based on your needs, we devise.
                      The support team is exceptional! They've been responsive and helpful at every step.”</p>

                    <div class="bottom-headding">
                      <h4><a href="#">Oliver Grioud/CEO, Lava Ltd</a></h4>
                      <p>Read More Testimonials Feedback</p>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="image">
                      <img src="{{ config.ASSETS_ROOT }}/img/testimonial/tes1-big-img.png" alt="">
                    </div>
                  </div>
                </div>
              </div>


            </div>

            <div class="testimonial-arrows">
              <button class="testimonial-prev-arrow">
                <i class="fa-regular fa-arrow-left"></i>
              </button>
              <button class="testimonial-next-arrow">
                <i class="fa-regular fa-arrow-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="space60"></div>

    <div class="row">
      <div class="col-lg-6">
        <div class="single-slider-page">
          <ul class="stars">
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
          </ul>

          <div class="icon">
            <img src="{{ config.ASSETS_ROOT }}/img/icons/tes2-icon.png" alt="">
          </div>

          <p>I can't imagine managing our email campaigns a without eSoft. The simplicity of creating visually stunning
            emails combined with powerful automation tools has been a game-changer for our marketing team. Our
            engagement rates have soared.</p>

          <div class="single-slider-bottom">
            <div class="headdding-area">
              <div class="image">
                <img src="{{ config.ASSETS_ROOT }}/img/testimonial/tes2-img1.png" alt="">
              </div>
              <div class="headding">
                <h5><a href="#">Pat Cummins</a></h5>
                <p>Ceo Biosynthesis</p>
              </div>
            </div>
            <div class="logo">
              <img src="{{ config.ASSETS_ROOT }}/img/logo/tes2-logo1.png" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="single-slider-page">
          <ul class="stars">
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
          </ul>

          <div class="icon">
            <img src="{{ config.ASSETS_ROOT }}/img/icons/tes2-icon.png" alt="">
          </div>

          <p>I can't imagine managing our email campaigns a without eSoft. The simplicity of creating visually stunning
            emails combined with powerful automation tools has been a game-changer for our marketing team. Our
            engagement rates have soared.</p>

          <div class="single-slider-bottom">
            <div class="headdding-area">
              <div class="image">
                <img src="{{ config.ASSETS_ROOT }}/img/testimonial/tes2-img2.png" alt="">
              </div>
              <div class="headding">
                <h5><a href="#">Pat Cummins</a></h5>
                <p>Ceo Biosynthesis</p>
              </div>
            </div>
            <div class="logo">
              <img src="{{ config.ASSETS_ROOT }}/img/logo/tes2-logo2.png" alt="">
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-6">
        <div class="single-slider-page">
          <ul class="stars">
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
          </ul>

          <div class="icon">
            <img src="{{ config.ASSETS_ROOT }}/img/icons/tes2-icon.png" alt="">
          </div>

          <p>"We've been using eSoft for over a year now, and the experience has been nothing short of fantastic. The
            platform's user- best a friendly interface makes it a breeze to navigate, and the range of features has
            significantly streamlined our workflow.”</p>

          <div class="single-slider-bottom">
            <div class="headdding-area">
              <div class="image">
                <img src="{{ config.ASSETS_ROOT }}/img/testimonial/tes2-img3.png" alt="">
              </div>
              <div class="headding">
                <h5><a href="#">Marcus Harris</a></h5>
                <p>Ceo Biosynthesis</p>
              </div>
            </div>
            <div class="logo">
              <img src="{{ config.ASSETS_ROOT }}/img/logo/tes2-logo3.png" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="single-slider-page">
          <ul class="stars">
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
          </ul>

          <div class="icon">
            <img src="{{ config.ASSETS_ROOT }}/img/icons/tes2-icon.png" alt="">
          </div>

          <p>"Discovering eSoft was a game-changer for our business. The seamless integration and robust features have
            not only saved us time but have also significantly increased our productivity. The level of customisation
            available allows us to tailor the eSoft”</p>

          <div class="single-slider-bottom">
            <div class="headdding-area">
              <div class="image">
                <img src="{{ config.ASSETS_ROOT }}/img/testimonial/tes2-img4.png" alt="">
              </div>
              <div class="headding">
                <h5><a href="#">Josh Stones</a></h5>
                <p>Ceo CouldWatch</p>
              </div>
            </div>
            <div class="logo">
              <img src="{{ config.ASSETS_ROOT }}/img/logo/tes2-logo4.png" alt="">
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-6">
        <div class="single-slider-page">
          <ul class="stars">
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
          </ul>

          <div class="icon">
            <img src="{{ config.ASSETS_ROOT }}/img/icons/tes2-icon.png" alt="">
          </div>

          <p>I can't imagine managing our email campaigns a without eSoft. The simplicity of creating visually stunning
            emails combined with powerful automation tools has been a game-changer for our marketing team. Our
            engagement rates have soared.</p>

          <div class="single-slider-bottom">
            <div class="headdding-area">
              <div class="image">
                <img src="{{ config.ASSETS_ROOT }}/img/testimonial/tes2-img5.png" alt="">
              </div>
              <div class="headding">
                <h5><a href="#">Ruben Dias</a></h5>
                <p>Ceo Biosynthesis</p>
              </div>
            </div>
            <div class="logo">
              <img src="{{ config.ASSETS_ROOT }}/img/logo/tes2-logo5.png" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="single-slider-page">
          <ul class="stars">
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
          </ul>

          <div class="icon">
            <img src="{{ config.ASSETS_ROOT }}/img/icons/tes2-icon.png" alt="">
          </div>

          <p>"eSoft has exceeded our expectations in every way. The ease with which we can target specific audience
            segments has an transformed our approach to email marketing. The automation features have saved us countless
            hours, allowing us to focus”</p>

          <div class="single-slider-bottom">
            <div class="headdding-area">
              <div class="image">
                <img src="{{ config.ASSETS_ROOT }}/img/testimonial/tes2-img6.png" alt="">
              </div>
              <div class="headding">
                <h5><a href="#">Rodrigo Paul</a></h5>
                <p>Ceo CouldWatch</p>
              </div>
            </div>
            <div class="logo">
              <img src="{{ config.ASSETS_ROOT }}/img/logo/tes2-logo6.png" alt="">
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-6">
        <div class="single-slider-page">
          <ul class="stars">
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
          </ul>

          <div class="icon">
            <img src="{{ config.ASSETS_ROOT }}/img/icons/tes2-icon.png" alt="">
          </div>

          <p>"Discovering eSoft was a game-changer for our business. The seamless integration and robust features have
            not only saved us time but have also significantly increased our productivity. The level of customisation
            available allows us to tailor the eSoft”</p>

          <div class="single-slider-bottom">
            <div class="headdding-area">
              <div class="image">
                <img src="{{ config.ASSETS_ROOT }}/img/testimonial/tes2-img7.png" alt="">
              </div>
              <div class="headding">
                <h5><a href="#">Pat Cummins</a></h5>
                <p>Ceo Biosynthesis</p>
              </div>
            </div>
            <div class="logo">
              <img src="{{ config.ASSETS_ROOT }}/img/logo/tes2-logo6.png" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="single-slider-page">
          <ul class="stars">
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
          </ul>

          <div class="icon">
            <img src="{{ config.ASSETS_ROOT }}/img/icons/tes2-icon.png" alt="">
          </div>

          <p>"We've been using eSoft for over a year now, and the experience has been nothing short of fantastic. The
            platform's user- best a friendly interface makes it a breeze to navigate, and the range of features has
            significantly streamlined our workflow.”</p>

          <div class="single-slider-bottom">
            <div class="headdding-area">
              <div class="image">
                <img src="{{ config.ASSETS_ROOT }}/img/testimonial/tes2-img8.png" alt="">
              </div>
              <div class="headding">
                <h5><a href="#">Marcus Harris</a></h5>
                <p>Ceo Biosynthesis</p>
              </div>
            </div>
            <div class="logo">
              <img src="{{ config.ASSETS_ROOT }}/img/logo/tes2-logo2.png" alt="">
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="space50"></div>
    <div class="row">
      <div class="col-12 m-auto">
        <div class="theme-pagination text-center">
          <ul>
            <li><a href="#"><i class="fa-solid fa-angles-left"></i></a></li>
            <li><a class="active" href="#">01</a></li>
            <li><a href="#">02</a></li>
            <li>...</li>
            <li><a href="#">12</a></li>
            <li><a href="#"><i class="fa-solid fa-angles-right"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
<!--===== TESTIMONIAL PAGE AREA END =======-->



{% include 'partials/back-to-top.html' %}
{% endblock page_content %}

