{% extends 'layouts/base.html' %}

{% block title %}Verify Your Email!{% endblock title %}

{% block icon %}
<link rel="shortcut icon" href="{{ config.ASSETS_ROOT }}/img/logo/titel1.png" type="image/x-icon">
{% endblock icon %}

{% block body_attribute %}class="body2 body"{% endblock body_attribute %}

{% block content %}

<!--=====log in area start=======-->

<div class="log-in-area email-verify _relative">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 m-auto text-center">
        <div class="main-logo">
          <a href="/index"><img
            src="{{ config.ASSETS_ROOT }}/img/logo/header-logo2.png" alt=""></a>
        </div>
      </div>
    </div>
    <div class="space80"></div>
    <div class="row align-items-center">
      <div class="col-lg-6 m-auto">
        <div class="login-form">
          <div class="headding">
            <h2>Verify Your Email!</h2>
            <p>We sent you a verification link via email. Please click it to verify your email address if you don’t see
              it, please wait up to 5 mins or check your SPAM folder.</p>

            <div class="space20"></div>
            <div class="button">
              <a href="#" class="theme-btn2">Open Email</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <img class="shape1" src="{{ config.ASSETS_ROOT }}/img/shapes/apps-shape1.png" alt="">
  <img class="shape2" src="{{ config.ASSETS_ROOT }}/img/shapes/apps-shape1.png" alt="">
</div>

<div class="bg-area-all"
     style="background-image: url(/static/img/bg/fotgot-bg.png); background-position: center; background-repeat:  no-repeat; background-size: cover; min-height: 390px;">
</div>

<!--=====log in area end=======-->

{% endblock content %}

